/* screen - about-dt */

.about-dt {
  align-items: center;
  background-color: var(--licorice);
  display: flex;
  flex-direction: column;
  gap: 240px;
  position: relative;
  width: 1440px;
}

.about-dt .ellipses {
  height: 6276px;
  left: calc(50.00% - 983px);
  position: absolute;
  top: -90px;
  width: 1967px;
}

.about-dt .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 4708px;
}

.about-dt .overlap-group1 {
  height: 775px;
  margin-left: 90.0px;
  position: relative;
  width: 936px;
}

.about-dt .ellipse-container {
  height: 775px;
  left: 0;
  position: absolute;
  top: 0;
  width: 912px;
}

.about-dt .flex-row {
  align-items: center;
  display: flex;
  gap: 276px;
  height: 1903px;
  margin-top: 441px;
  min-width: 1967px;
}

.about-dt .ellipse-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 770px;
  min-height: 1903px;
  width: 808px;
}

.about-dt .ellipse-35 {
  align-self: flex-end;
  background-color: var(--black-2);
  border-radius: 585px;
  height: 1170px;
  margin-right: 179.0px;
  margin-top: 419px;
  transform: rotate(90.00deg);
  width: 1170px;
}

.about-dt .logo {
  height: 604px;
  left: calc(50.00% + 240px);
  position: absolute;
  top: 192px;
  width: 680px;
}

.about-dt .union-1 {
  height: 736px;
  left: -52px;
  position: absolute;
  top: -62px;
  width: 812px;
}

.about-dt .desktop-home-logo {
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 36px;
  position: relative;
}

.about-dt .union {
  height: 36px;
  position: relative;
  width: 140px;
}

.about-dt .desktop-button-top-nav-1 {
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
}

.about-dt .desktop-button-top-nav-2 {
  cursor: pointer;
  display: flex;
  width: 37px;
}

.about-dt .vpn {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about-dt .desktop-button-top-nav-3 {
  cursor: pointer;
  display: flex;
  width: 36px;
}

.about-dt .vpn-1 {
  color: var(--white);
}

.about-dt .desktop-button-top-nav-4 {
  cursor: pointer;
  display: flex;
  width: 44px;
}

.about-dt .desktop-button-top-nav-5 {
  display: flex;
  width: 61px;
}

.about-dt .vpn-2 {
  color: var(--aquamarine);
}

.about-dt .desktop-button-top-nav-6 {
  cursor: pointer;
  display: flex;
  width: 50px;
}

.about-dt .desktop-button-header {
  background-image: url(../img/button-base-1@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  width: 196px;
}

.about-dt .hero {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 72px;
  max-width: 1800px;
  min-width: 880px;
  padding: 0px 160px;
  position: relative;
  width: 100%;
}

.about-dt .frame-403 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 855px;
}

.about-dt .decentralized-marketplace {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 54.0px;
  margin-top: -1.00px;
  position: relative;
}

.about-dt .span {
  color: var(--white);
}

.about-dt .frame-491 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 392px;
  position: relative;
  width: 100%;
}

.about-dt .line-10 {
  align-self: stretch;
  margin-top: -1.00px;
  position: relative;
  width: 100%;
}

.about-dt .intro-copy {
  align-self: stretch;
  color: var(--white);
  font-weight: 400;
  height: 312px;
  line-height: 28.0px;
  position: relative;
}

.about-dt .desktop-header-section-full {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
}

.about-dt .desktop-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.about-dt .line {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.about-dt .desktop-headline-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.about-dt .two-color-headline {
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  margin-left: -80.00px;
  margin-right: -80.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1280px;
}

.about-dt .intro-copy-1 {
  align-self: stretch;
  font-weight: 400;
  height: 511px;
  line-height: 28.0px;
}

.about-dt .copy {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: relative;
}

.about-dt .decentralized-marketplace-1 {
  color: transparent;
  font-weight: 600;
  height: 96px;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 16px #ffffff40;
  width: 880px;
}

.about-dt .intro-copy-2 {
  font-weight: 500;
  line-height: 34.7px;
  text-align: center;
  width: 880px;
}

.about-dt .line-2 {
  margin-bottom: -1.00px;
  position: relative;
  width: 880px;
}

.about-dt .buttons {
  display: flex;
  height: 72px;
  position: relative;
  width: 361px;
}

.about-dt .desktop-header-section-simple {
  height: 56px;
}

.about-dt .line-1 {
  left: 0;
  position: absolute;
  top: 55px;
  width: 1280px;
}

.about-dt .title {
  color: var(--white);
  font-weight: 600;
  height: 32px;
  left: 0;
  line-height: 44.0px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 16px #ffffff40;
  top: -1px;
  white-space: nowrap;
  width: 1280px;
}

.about-dt .intro-copy-3 {
  align-self: stretch;
  font-weight: 400;
  line-height: 28.0px;
  text-align: center;
}

.about-dt .frame-396 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  justify-content: center;
  position: relative;
}

.about-dt .about-orchid {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about-dt .desktop-button-standard {
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 48px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 24px 80px;
}

.about-dt .line-2-1 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 56px;
  width: 1200px;
}

.about-dt .title-1 {
  color: transparent;
  font-weight: 600;
  height: 32px;
  left: 0;
  line-height: 44.0px;
  position: absolute;
  text-shadow: 0px 4px 16px #ffffff40;
  top: -1px;
  white-space: nowrap;
  width: 1200px;
}

.about-dt .intro-copy-4 {
  flex: 1;
  font-weight: 400;
  height: 156px;
  line-height: 28.0px;
  margin-top: -1.00px;
}

.about-dt .about-button {
  display: flex;
  height: 72px;
  position: relative;
  width: 299px;
}

.about-dt .hyperlinks {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  position: relative;
  width: 100%;
}

.about-dt .frame-42 {
  height: 114px;
  position: relative;
  width: 180px;
}

.about-dt .github {
  cursor: pointer;
  height: 29.25px;
  position: relative;
  width: 30px;
}

.about-dt .facebook {
  background-image: url(../img/shape@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 29.95px;
  position: relative;
  width: 29.87px;
}

.about-dt .desktop-button-top-nav-7 {
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.about-dt .desktop-header-section {
  align-self: stretch;
  position: relative;
  width: 100%;
}

.about-dt .intro-copy-5 {
  color: var(--white);
  position: relative;
}

.about-dt .line-3 {
  height: 1px;
  object-fit: cover;
}

.about-dt .vpn-3 {
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
