/* screen - about */

.about {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  gap: 240px;
  position: relative;
  width: 1440px;
}

.about .ellipses {
  height: 6276px;
  left: calc(50.00% - 983px);
  position: absolute;
  top: -90px;
  width: 1967px;
}

.about .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 4708px;
}

.about .overlap-group1 {
  height: 775px;
  margin-left: 90.0px;
  position: relative;
  width: 936px;
}

.about .flex-row {
  align-items: center;
  display: flex;
  gap: 276px;
  height: 1903px;
  margin-top: 441px;
  min-width: 1967px;
}

.about .ellipse-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 770px;
  min-height: 1903px;
  width: 808px;
}

.about .ellipse-35 {
  align-self: flex-end;
  background-color: var(--black-2);
  border-radius: 585px;
  height: 1170px;
  margin-right: 179.0px;
  margin-top: 419px;
  transform: rotate(90.00deg);
  width: 1170px;
}

.about .logo {
  height: 604px;
  left: calc(50.00% + 240px);
  position: absolute;
  top: 192px;
  width: 680px;
}

.about .union {
  height: 736px;
  left: -52px;
  position: absolute;
  top: -62px;
  width: 812px;
}

.about .desktop-home-logo {
  cursor: pointer;
  flex: 0 0 auto;
  height: 36px;
  position: relative;
}

.about .desktop-button-top-nav-1 {
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
}

.about .desktop-button-top-nav-2 {
  cursor: pointer;
  display: flex;
  width: 37px;
}

.about .vpn {
  color: var(--white);
}

.about .desktop-button-top-nav-3 {
  cursor: pointer;
  display: flex;
  width: 36px;
}

.about .vpn-1 {
  color: var(--white);
}

.about .desktop-button-top-nav-4 {
  cursor: pointer;
  display: flex;
  width: 44px;
}

.about .desktop-button-top-nav-5 {
  display: flex;
  width: 61px;
}

.about .vpn-2 {
  color: var(--aquamarine);
}

.about .desktop-button-top-nav-6 {
  cursor: pointer;
  display: flex;
  width: 50px;
}

.about .desktop-button-header {
  background-image: url(../img/button-base-1@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  width: 196px;
}

.about .hero {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 72px;
  max-width: 1800px;
  min-width: 880px;
  padding: 0px 160px;
  position: relative;
  width: 100%;
}

.about .frame-403 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 855px;
}

.about .decentralized-marketplace {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 54.0px;
  margin-top: -1.00px;
  position: relative;
}

.about .span {
  color: var(--white);
}

.about .span1 {
  color: var(--aquamarine);
}

.about .orchids-mission-is {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  position: relative;
}

.about .frame-491 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 392px;
  position: relative;
  width: 100%;
}

.about .line-10 {
  align-self: stretch;
  margin-top: -1.00px;
  position: relative;
  width: 100%;
}

.about .intro-copy {
  align-self: stretch;
  color: var(--white);
  font-weight: 400;
  height: 312px;
  line-height: 28.0px;
  position: relative;
}

.about .founder-note {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 160px;
  position: relative;
  width: 100%;
}

.about .desktop-header-section-full {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
}

.about .line {
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.about .desktop-headline-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.about .two-color-headline {
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  margin-left: -80.00px;
  margin-right: -80.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1280px;
}

.about .intro-copy-1 {
  align-self: stretch;
  font-weight: 400;
  height: 511px;
  line-height: 28.0px;
}

.about .media-kits {
  align-items: center;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 120px;
  justify-content: center;
  padding: 80px 0px;
  position: relative;
}

.about .copy {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: relative;
}

.about .decentralized-marketplace-1 {
  color: transparent;
  font-weight: 600;
  height: 96px;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 16px #ffffff40;
  width: 880px;
}

.about .intro-copy-2 {
  font-weight: 500;
  line-height: 34.7px;
  text-align: center;
  width: 880px;
}

.about .line-2 {
  margin-bottom: -1.00px;
  position: relative;
  width: 880px;
}

.about .buttons {
  height: 72px;
  width: 361px;
}

.about .desktop-button-standard-1 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 361px;
}

.about .contact {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 80px;
  position: relative;
  width: 1440px;
}

.about .desktop-header-section-simple {
  height: 56px;
}

.about .line-1 {
  left: 0;
  position: absolute;
  top: 55px;
  width: 1280px;
}

.about .title {
  color: var(--white);
  text-align: center;
  width: 1280px;
}

.about .intro-copy-3 {
  align-self: stretch;
  font-weight: 400;
  line-height: 28.0px;
  text-align: center;
}

.about .frame-396 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  justify-content: center;
  position: relative;
}

.about .subtract {
  height: 40px;
  position: relative;
  width: 40px;
}

.about .about-orchid {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about .frame-453 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  margin-left: -80.00px;
  margin-right: -80.00px;
  padding: 1px 80px;
  position: relative;
}

.about .frame-492 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 80px;
  position: relative;
  width: 1280px;
}

.about .frame-492-item {
  align-items: flex-start;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--pixie-powder);
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 16px;
  padding: 24px 40px;
  position: relative;
}

.about .subject {
  color: var(--manatee);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.about .subject-1 {
  align-items: flex-start;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--pixie-powder);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 24px 40px;
  position: relative;
  width: 1280px;
}

.about .subject-2 {
  align-items: flex-start;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--pixie-powder);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 24px 40px 240px;
  position: relative;
  width: 1280px;
}

.about .buttons-1 {
  align-items: flex-start;
  flex: 0 0 auto;
  gap: 135px;
  justify-content: center;
  padding: 60px 0px 0px;
  width: 588.36px;
}

.about .desktop-button-standard {
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 48px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 24px 80px;
}

.about .corp-info {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 120px;
  position: relative;
  width: 1440px;
}

.about .desktop-header-section-simple-1 {
  height: 56px;
  position: relative;
  width: 1200px;
}

.about .line-2-1 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 56px;
  width: 1200px;
}

.about .title-1 {
  color: transparent;
  width: 1200px;
}

.about .frame-493 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.about .frame-494 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: 740px;
}

.about .intro-copy-4 {
  flex: 1;
  font-weight: 400;
  height: 156px;
  line-height: 28.0px;
  margin-top: -1.00px;
}

.about .about-button {
  display: flex;
  height: 72px;
  position: relative;
  width: 299px;
}

.about .desktop-button-standard-2 {
  align-items: flex-end;
  display: flex;
  width: 299px;
}

.about .desktop-home-logo-1 {
  height: 36px;
  position: relative;
}

.about .hyperlinks {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.about .frame-42 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.about .dapp {
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.about .apps-1 {
  cursor: pointer;
}

.about .link {
  cursor: pointer;
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.about .social-link-github {
  height: 33px;
  margin-bottom: -1.00px;
}

.about .social-link-reddit {
  background-image: url(../img/combined-shape@2x.png);
  background-size: 100% 100%;
  border-radius: 40px;
  height: 32px;
}

.about .buttons-2 {
  display: flex;
  position: relative;
}

.about .desktop-button {
  align-items: center;
  position: relative;
}

.about .desktop-button-standard-3 {
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 48px;
  cursor: pointer;
  flex-direction: column;
  height: 72px;
  padding: 24px 80px;
  position: relative;
}

.about .desktop-button-top-nav-7 {
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.about .desktop-header-section {
  align-self: stretch;
  position: relative;
  width: 100%;
}

.about .intro-copy-5 {
  color: var(--white);
  position: relative;
}

.about .line-3 {
  height: 1px;
  object-fit: cover;
}

.about .social-link-1 {
  cursor: pointer;
  position: relative;
  width: 32px;
}

.about .title-2 {
  font-weight: 600;
  height: 32px;
  left: 0;
  line-height: 44.0px;
  position: absolute;
  text-shadow: 0px 4px 16px #ffffff40;
  top: -1px;
  white-space: nowrap;
}

.about .vpn-3 {
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
