/* screen - hello-world-test-page */

.hello-world-test-page {
  align-items: flex-start;
  background-color: #121212;
  border: 1px none;
  display: flex;
  height: 2264px;
  overflow: hidden;
  width: 1440px;
}

.hello-world-test-page .overlap-group2 {
  height: 2299px;
  margin-left: -192px;
  margin-top: -35px;
  position: relative;
  width: 1632px;
}

.hello-world-test-page .e841c27c-50e9-459b-8d61-23598b47139a-1 {
  height: 1136px;
  left: 912px;
  mix-blend-mode: lighten;
  object-fit: cover;
  position: absolute;
  top: 157px;
  width: 720px;
}

.hello-world-test-page .overlay-circles {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 666px;
  left: 0;
  min-height: 2259px;
  position: absolute;
  top: 0;
  width: 1485px;
}

.hello-world-test-page .overlap-group1 {
  height: 772px;
  position: relative;
  width: 936px;
}

.hello-world-test-page .ellipse-container {
  height: 772px;
  left: 0;
  position: absolute;
  top: 0;
  width: 913px;
}

.hello-world-test-page .ellipse-28 {
  background-color: var(--cod-gray);
  border-radius: 310px;
  height: 620px;
  left: 0;
  position: absolute;
  top: 0;
  width: 620px;
}

.hello-world-test-page .ellipse-29 {
  background-color: var(--cod-gray);
  border-radius: 155px;
  height: 310px;
  left: 603px;
  position: absolute;
  top: 462px;
  width: 310px;
}

.hello-world-test-page .ellipse-30 {
  background-color: var(--cod-gray);
  border-radius: 100px;
  height: 200px;
  left: 736px;
  position: absolute;
  top: 18px;
  width: 200px;
}

.hello-world-test-page .ellipse-container-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 188px;
  height: 821px;
  min-width: 1107px;
}

.hello-world-test-page .ellipse-37 {
  background-color: var(--cod-gray);
  border-radius: 179.5px;
  height: 359px;
  width: 359px;
}

.hello-world-test-page .ellipse-34 {
  align-self: flex-end;
  background-color: var(--cod-gray);
  border-radius: 280px;
  height: 560px;
  width: 560px;
}

.hello-world-test-page .hero-content {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 97px;
  left: 272px;
  position: absolute;
  top: 355px;
}

.hello-world-test-page .frame-334 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 845px;
}

.hello-world-test-page .go-nano {
  flex: 0 0 auto;
  position: relative;
}

.hello-world-test-page .something-you-can-do-now-yes-really {
  color: transparent;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.hello-world-test-page .span {
  color: var(--white);
}

.hello-world-test-page .span-1 {
  color: #68f5da;
}

.hello-world-test-page .intro-copy-1 {
  position: relative;
  width: 845px;
}

.hello-world-test-page .frame-347 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.hello-world-test-page .rectangle-6 {
  height: 80px;
  position: relative;
  width: 360px;
}

.hello-world-test-page .about-orchid {
  color: var(--white);
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 27px;
  width: 360px;
}

.hello-world-test-page .header-top-nav {
  align-items: center;
  display: flex;
  height: 84px;
  left: 192px;
  min-width: 1440px;
  padding: 12px 80px;
  position: absolute;
  top: 35px;
}

.hello-world-test-page .orchid-wordmark_-small-1 {
  height: 36px;
  margin-top: 8.0px;
  width: 140px;
}

.hello-world-test-page .navbar {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 222px;
  margin-top: 12.0px;
  min-width: 674px;
}

.hello-world-test-page .navbar-link-account {
  margin-left: -15px;
  width: 40px;
}

.hello-world-test-page .navbar-link-account-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-left: 71px;
  margin-top: -1px;
  text-align: right;
  white-space: nowrap;
  width: 37px;
}

.hello-world-test-page .navbar-link-how-it-works {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-left: 20px;
  margin-top: -1px;
  text-align: right;
  white-space: nowrap;
  width: 90px;
}

.hello-world-test-page .navbar-link-oxt {
  margin-left: 19px;
  width: 88px;
}

.hello-world-test-page .navbar-link-about {
  margin-left: 64px;
  width: 44px;
}

.hello-world-test-page .navbar-link-contact {
  margin-left: 55px;
  width: 54px;
}

.hello-world-test-page .frame-4 {
  align-items: center;
  display: flex;
  gap: 7px;
  margin-left: 37px;
  position: relative;
  width: 70px;
}

.hello-world-test-page .frame-3 {
  align-items: center;
  display: flex;
  position: relative;
  width: 45px;
}

.hello-world-test-page .x-icon {
  height: 18px;
  position: relative;
  width: 18px;
}

.hello-world-test-page .iconactionlanguage_24px {
  height: 15px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 15px;
}

.hello-world-test-page .english {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 27px;
}

.hello-world-test-page .overlap-group {
  align-items: flex-start;
  align-self: flex-end;
  background-image: url(../img/rectangle-6-1.svg);
  background-size: 100% 100%;
  display: flex;
  height: 48px;
  margin-left: 48px;
  min-width: 196px;
  padding: 12.6px 0;
}

.hello-world-test-page .about-orchid-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  min-height: 23px;
  text-align: center;
  white-space: nowrap;
  width: 196px;
}

.hello-world-test-page .frame-353 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 28px;
  left: 272px;
  position: absolute;
  top: 1075px;
}

.hello-world-test-page .frame-348 {
  align-self: stretch;
  height: 32px;
  position: relative;
  width: 100%;
}

.hello-world-test-page .flex-row {
  height: 32px;
  min-width: 1280px;
  top: -1px;
}

.hello-world-test-page .line-9 {
  margin-top: 3.0px;
}

.hello-world-test-page .discover {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: 0.84px;
  line-height: 33.6px;
  min-height: 32px;
  text-align: center;
  white-space: nowrap;
  width: 194px;
}

.hello-world-test-page .line-10 {
  margin-top: 1.0px;
}

.hello-world-test-page .title {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  height: 72px;
  line-height: 60px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.hello-world-test-page .frame-333 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.hello-world-test-page .frame-349 {
  background-color: #212121;
  border-radius: 24px;
  height: 456px;
  position: relative;
  width: 302px;
}

.hello-world-test-page .flex-col-1 {
  left: 40px;
  min-height: 375px;
  top: 40px;
  width: 222px;
}

.hello-world-test-page .frame-11 {
  height: 152px;
  margin-right: 0;
  width: 142px;
}

.hello-world-test-page .storchid {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  margin-top: 39px;
  text-align: center;
  white-space: nowrap;
  width: 222px;
}

.hello-world-test-page .intro-copy-2 {
  margin-top: 8px;
  min-height: 136px;
  text-align: center;
  width: 222px;
}

.hello-world-test-page .frame-35 {
  background-color: var(--black-2);
  border: 0.5px solid;
  border-color: var(--manatee);
  border-radius: 24px;
  height: 456px;
  position: relative;
  width: 302px;
}

.hello-world-test-page .flex-col {
  flex-direction: column;
  left: 24px;
  min-height: 375px;
  top: 40px;
  width: 254px;
}

.hello-world-test-page .frame-10 {
  height: 152px;
  margin-right: 0;
  width: 152px;
}

.hello-world-test-page .staking {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  margin-top: 39px;
  text-align: center;
  white-space: nowrap;
  width: 134px;
}

.hello-world-test-page .intro-copy {
  color: var(--white);
  font-weight: 400;
  line-height: 28.0px;
  margin-top: 8px;
  min-height: 136px;
  text-align: center;
  width: 254px;
}

.hello-world-test-page .frame-1 {
  height: 152px;
  width: 206px;
}

.hello-world-test-page .account-d-app {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  margin-top: 39px;
  text-align: center;
  white-space: nowrap;
  width: 224px;
}

.hello-world-test-page .flex-col-2 {
  left: 24px;
  min-height: 377px;
  top: 38px;
  width: 254px;
}

.hello-world-test-page .frame-12 {
  height: 156px;
  margin-left: 0.44px;
  width: 176px;
}

.hello-world-test-page .orchid-vpn {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  margin-right: 1.0px;
  margin-top: 37px;
  text-align: center;
  white-space: nowrap;
  width: 187px;
}

.hello-world-test-page .footer {
  align-items: flex-start;
  background-color: #161616;
  display: flex;
  flex-direction: row;
  height: 320px;
  justify-content: flex-end;
  left: 192px;
  min-width: 1440px;
  padding: 34px 80.2px;
  position: absolute;
  top: 1979px;
  width: auto;
}

.hello-world-test-page .frame-335 {
  align-items: center;
  display: inline-flex;
  gap: 59px;
  position: relative;
}

.hello-world-test-page .frame-346 {
  align-items: flex-end;
  display: flex;
  gap: 60px;
  position: relative;
  width: 920px;
}

.hello-world-test-page .frame-345 {
  height: 186px;
  position: relative;
  width: 260px;
}

.hello-world-test-page .orchid-container {
  height: 128px;
  left: 0;
  position: absolute;
  top: 57px;
  width: 260px;
}

.hello-world-test-page .x2019-orchid {
  color: #f6f3fc;
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 260px;
}

.hello-world-test-page .x2019-orchid-1 {
  color: var(--white);
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: 48px;
  width: 260px;
}

.hello-world-test-page .orchid-wordmark_-small-1-1 {
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.hello-world-test-page .frame-34 {
  height: 160px;
  position: relative;
  width: 160px;
}

.hello-world-test-page .apps {
  color: var(--white);
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  width: 160px;
}

.hello-world-test-page .learn {
  color: var(--white);
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  width: 160px;
}

.hello-world-test-page .engage {
  color: var(--white);
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  width: 160px;
}

.hello-world-test-page .frame-336 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 29px;
  justify-content: flex-end;
  position: relative;
}

.hello-world-test-page .frame-338 {
  background-image: url(../img/twitter.svg);
  background-size: 100% 100%;
  height: 36.73px;
  position: relative;
  width: 36.73px;
}

.hello-world-test-page .frame-339 {
  height: 36.72px;
  position: relative;
  width: 36.73px;
}

.hello-world-test-page .discord {
  align-items: flex-start;
  background-image: url(../img/shape.svg);
  background-size: 100% 100%;
  display: flex;
  height: 37px;
  min-width: 37px;
  padding: 6.1px 6.1px;
}

.hello-world-test-page .discord-1 {
  height: 23px;
  object-fit: cover;
  width: 23px;
}

.hello-world-test-page .frame-340 {
  height: 35.81px;
  position: relative;
  width: 36.73px;
}

.hello-world-test-page .frame-341 {
  background-image: url(../img/shape-1.svg);
  background-size: 100% 100%;
  height: 36.67px;
  position: relative;
  width: 36.58px;
}

.hello-world-test-page .frame-337 {
  background-image: url(../img/combined-shape.svg);
  background-size: 100% 100%;
  height: 36.73px;
  position: relative;
  width: 36.73px;
}

.hello-world-test-page .flex {
  align-items: center;
  display: flex;
  position: relative;
}

.hello-world-test-page .flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hello-world-test-page .intro-copy-3 {
  color: var(--white);
  font-weight: 400;
  line-height: 28.0px;
}

.hello-world-test-page .line {
  height: 1px;
  object-fit: cover;
  width: 543px;
}

.hello-world-test-page .navbar-link {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1px;
  text-align: right;
  white-space: nowrap;
}
