/* screen - homepage-dt */

.homepage-dt {
  background-color: #121212;
  display: flex;
  height: 8074px;
  width: 1440px;
}

.homepage-dt .frame-468 {
  flex: 1;
  position: relative;
  width: 1440px;
}

.homepage-dt .overlap-group3 {
  height: 8102px;
  position: relative;
  width: 1814px;
}

.homepage-dt .page-base-dt {
  background-color: #0f0f0f;
  display: flex;
  height: 8074px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.homepage-dt .ellipses {
  height: 7846px;
  margin-left: -13px;
  margin-top: -48px;
  width: 1967px;
}

.homepage-dt .footer-orchids {
  align-items: flex-end;
  display: flex;
  height: 992px;
  justify-content: center;
  left: 773px;
  position: absolute;
  top: 7110px;
  width: 1034px;
}

.homepage-dt .footer-orchid-dt {
  height: 992px;
  mix-blend-mode: lighten;
  object-fit: cover;
  width: 992px;
}

.homepage-dt .desktopfooter {
  align-items: center;
  background-color: #090909;
  display: flex;
  flex-direction: column;
  height: 476px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 7598px;
  width: 1440px;
}

.homepage-dt .base {
  height: 476px;
  position: relative;
  width: 1440px;
}

.homepage-dt .content {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: calc(50.00% - 640px);
  padding: 20px 0px;
  position: absolute;
  top: 40px;
}

.homepage-dt .frame-471 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.homepage-dt .desktop-home-logo {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  height: 36px;
  position: relative;
}

.homepage-dt .union {
  height: 36px;
  position: relative;
  width: 140px;
}

.homepage-dt .x2023-orchid {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xs);
  font-weight: 300;
  letter-spacing: 0.28px;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.homepage-dt .hyperlinks {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 1280px;
}

.homepage-dt .frame-421 {
  display: flex;
  height: 126px;
  position: relative;
  width: 180px;
}

.homepage-dt .x2023-orchid-1 {
  color: var(--white);
  flex: 1;
  font-weight: 700;
  line-height: 22.4px;
  width: 180px;
}

.homepage-dt .frame-4 {
  display: flex;
  height: 136px;
  position: relative;
  width: 160px;
}

.homepage-dt .apps {
  color: var(--white);
  font-weight: 700;
  height: 124px;
  line-height: 22.4px;
  margin-left: -0.5px;
  width: 198px;
}

.homepage-dt .learn {
  color: var(--white);
  font-weight: 700;
  height: 121px;
  line-height: 22.4px;
  margin-left: -0.5px;
  width: 196px;
}

.homepage-dt .engage {
  color: var(--white);
  font-weight: 700;
  height: 122px;
  line-height: 22.4px;
  margin-left: -0.5px;
  width: 191px;
}

.homepage-dt .social-icons {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 297px;
}

.homepage-dt .twitter {
  background-image: url(../img/twitter-8@2x.png);
  background-size: 100% 100%;
  height: 29.99px;
  position: relative;
  width: 30px;
}

.homepage-dt .discord {
  background-image: url(../img/shape-4@2x.png);
  background-size: 100% 100%;
  height: 29.99px;
  position: relative;
  width: 30px;
}

.homepage-dt .discord-1 {
  height: 19px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 19px;
}

.homepage-dt .github {
  height: 29.25px;
  position: relative;
  width: 30px;
}

.homepage-dt .facebook {
  background-image: url(../img/shape-5@2x.png);
  background-size: 100% 100%;
  height: 29.95px;
  position: relative;
  width: 29.88px;
}

.homepage-dt .reddit {
  background-image: url(../img/combined-shape-6@2x.png);
  background-size: 100% 100%;
  height: 30px;
  position: relative;
  width: 30px;
}

.homepage-dt .sections {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 80px;
  min-height: 7188px;
  position: absolute;
  top: 96px;
  width: 1734px;
}

.homepage-dt .hero {
  height: 1026px;
  position: relative;
  width: 1734px;
}

.homepage-dt .hero-container {
  height: 1026px;
  position: relative;
}

.homepage-dt .hero-1 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  padding: 240px 0px 120px;
  position: absolute;
  top: 11px;
}

.homepage-dt .hero-headline {
  align-self: stretch;
  display: flex;
  height: 202px;
  position: relative;
  width: 100%;
}

.homepage-dt .decentralize-the-future {
  height: 194.88px;
  margin-left: 2.0px;
  margin-top: 0.6px;
  width: 916.96px;
}

.homepage-dt .hero-subhead {
  display: flex;
  height: 92px;
  position: relative;
  width: 1063px;
}

.homepage-dt .transforming-marketp {
  color: transparent;
  font-weight: 600;
  height: 92px;
  line-height: 44.0px;
  width: 1063px;
}

.homepage-dt .span {
  color: var(--aquamarine);
}

.homepage-dt .span-1 {
  color: var(--white);
}

.homepage-dt .hero-cta-button {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 96px 0px 0px;
  position: relative;
}

.homepage-dt .desktop-button-hero {
  background-image: url(../img/rectangle-6-6@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 80px;
  width: 360px;
}

.homepage-dt .learn-more {
  color: var(--white);
  flex: 1;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.homepage-dt .hero-orchids-dt {
  background-image: url(../img/hero-orchids.png);
  background-size: 100% 100%;
  height: 1026px;
  left: 640px;
  position: absolute;
  top: 0;
  width: 1094px;
}

.homepage-dt .ecosystem {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
  justify-content: center;
  margin-top: 120px;
  position: relative;
  width: 1280px;
}

.homepage-dt .desktop {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.homepage-dt .desktop-caption-section-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.homepage-dt .line {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.homepage-dt .caption {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.homepage-dt .desktop-headline-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.homepage-dt .two-color-headline-1 {
  color: transparent;
  text-align: center;
}

.homepage-dt .frame-445 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 24px 24px;
  justify-content: center;
  position: relative;
}

.homepage-dt .card-springboard-desktop {
  align-items: center;
  background-color: var(--log-cabin);
  border-radius: 24px;
  display: flex;
  height: 456px;
  justify-content: center;
  position: relative;
  width: 302px;
}

.homepage-dt .card-content {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  height: 336px;
  position: relative;
  width: 222px;
}

.homepage-dt .icon-card-large {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: center;
  position: relative;
  width: 120px;
}

.homepage-dt .frame-1-1 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  min-width: 120px;
}

.homepage-dt .vector-container {
  align-items: flex-start;
  background-image: url(../img/union-31@2x.png);
  background-size: 100% 100%;
  display: flex;
  gap: 18px;
  height: 98px;
  margin-top: -0.38px;
  min-width: 120px;
  padding: 12.4px 9.4px;
}

.homepage-dt .vector-2 {
  height: 14px;
  width: 45px;
}

.homepage-dt .vector-3 {
  align-self: flex-end;
  height: 20px;
  margin-bottom: 2.0px;
  width: 14px;
}

.homepage-dt .text {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  height: 176px;
  position: relative;
}

.homepage-dt .title {
  color: var(--white);
  font-weight: 600;
  height: 32px;
  line-height: 34.7px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 222px;
}

.homepage-dt .body {
  color: var(--white);
  font-weight: 400;
  height: 128px;
  line-height: 28.0px;
  position: relative;
  text-align: center;
  width: 222px;
}

.homepage-dt .frame-13 {
  align-items: center;
  background-image: url(../img/union-43@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 108.52px;
  justify-content: center;
  margin-left: 0;
  margin-top: -1.5px;
  width: 120px;
}

.homepage-dt .vector-4 {
  height: 4px;
  margin-left: -1px;
  margin-top: -31px;
  width: 105px;
}

.homepage-dt .frame-11 {
  align-items: center;
  background-image: url(../img/union-44@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 120px;
  justify-content: center;
  margin-top: 0;
  width: 116px;
}

.homepage-dt .vector-5 {
  height: 27px;
  margin-left: 10px;
  margin-top: -57px;
  width: 18px;
}

.homepage-dt .frame-44 {
  align-items: flex-start;
  display: flex;
  height: 120px;
  justify-content: center;
  min-width: 116px;
}

.homepage-dt .overlap-group {
  height: 121px;
  margin-top: -0.25px;
  position: relative;
  width: 116px;
}

.homepage-dt .union-1 {
  height: 73px;
  left: 16px;
  position: absolute;
  top: 48px;
  width: 101px;
}

.homepage-dt .union-4 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 61px;
}

.homepage-dt .union-5 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 15px;
}

.homepage-dt .union-2 {
  height: 33px;
  left: 29px;
  position: absolute;
  top: 16px;
  width: 32px;
}

.homepage-dt .vector {
  height: 18px;
  left: 14px;
  position: absolute;
  top: 9px;
  width: 32px;
}

.homepage-dt .vector-1 {
  height: 27px;
  left: 93px;
  position: absolute;
  top: 80px;
  width: 16px;
}

.homepage-dt .marketplaces {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 240px;
  padding: 0px 10px;
  position: relative;
}

.homepage-dt .frame-355 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 12px 12px;
  justify-content: flex-end;
  position: relative;
  width: 1280px;
}

.homepage-dt .desktop-caption-section {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 1280px;
}

.homepage-dt .two-color-headline {
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 1280px;
}

.homepage-dt .frame-354 {
  display: flex;
  height: 84px;
  position: relative;
  width: 1260px;
}

.homepage-dt .intro-copy-3 {
  color: transparent;
  flex: 1;
  height: 84px;
  margin-top: 12px;
  text-align: right;
}

.homepage-dt .frame-466 {
  height: 703px;
  position: relative;
  width: 1280px;
}

.homepage-dt .overlap-group2 {
  height: 703px;
  left: -6px;
  position: absolute;
  top: 0;
  width: 1266px;
}

.homepage-dt .overlap-group1 {
  height: 703px;
  left: 0;
  position: absolute;
  top: 0;
  width: 730px;
}

.homepage-dt .circulargrid-wt-1 {
  height: 618px;
  left: 0;
  position: absolute;
  top: 85px;
  width: 660px;
}

.homepage-dt .group-container {
  height: 436px;
  left: 8px;
  position: absolute;
  top: 255px;
  width: 722px;
}

.homepage-dt .group-8 {
  height: 264px;
  left: 0;
  position: absolute;
  top: 172px;
  width: 610px;
}

.homepage-dt .group-9 {
  height: 214px;
  left: 438px;
  position: absolute;
  top: 0;
  width: 283px;
}

.homepage-dt .group-10 {
  height: 187px;
  left: 139px;
  position: absolute;
  top: 0;
  width: 482px;
}

.homepage-dt .nanopayments {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
  left: 640px;
  position: absolute;
  top: 542px;
  width: 623px;
}

.homepage-dt .nanopayment-ecosystem {
  color: var(--white);
  font-weight: 600;
  height: 40px;
  line-height: 34.7px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 620px;
}

.homepage-dt .intro-copy {
  color: var(--white);
  flex: 1;
  font-weight: 400;
  line-height: 28.0px;
  position: relative;
}

.homepage-dt .accounts {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
  left: 642px;
  position: absolute;
  top: 80px;
  width: 624px;
}

.homepage-dt .orchid-accounts {
  color: var(--white);
  font-weight: 600;
  height: 40px;
  line-height: 34.7px;
  margin-right: -3.00px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 627px;
}

.homepage-dt .directory {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
  left: 743px;
  position: absolute;
  top: 324px;
  width: 517px;
}

.homepage-dt .preferred-provider-directory {
  color: var(--white);
  flex: 1;
  font-weight: 600;
  height: 40px;
  line-height: 34.7px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.homepage-dt .intro-copy-4 {
  color: var(--white);
  margin-right: -2.24px;
  position: relative;
  width: 519px;
}

.homepage-dt .desktop-button-standard {
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 100px 0px 0px;
}

.homepage-dt .rectangle-6 {
  height: 56px;
  position: relative;
  width: 301px;
}

.homepage-dt .label {
  bottom: 17px;
  color: var(--white);
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.homepage-dt .vpn {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  margin-top: 226px;
  position: relative;
  width: 1280px;
}

.homepage-dt .frame-442 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 834px;
  position: relative;
  width: 739px;
}

.homepage-dt .desktop-header-section-full {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  margin-right: -541.00px;
  position: relative;
}

.homepage-dt .line-10 {
  flex: 1;
  flex-grow: 1;
  height: 1px;
}

.homepage-dt .desktop-headline-section-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.homepage-dt .two-color-headline-2 {
  color: transparent;
}

.homepage-dt .intro-copy-5 {
  color: var(--white);
  height: 70px;
  position: relative;
  width: 739px;
}

.homepage-dt .frame-380 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.homepage-dt .google-play-icon-transparent-6 {
  height: 56px;
  position: relative;
  width: 187px;
}

.homepage-dt .appstorebadge-2 {
  height: 56px;
  object-fit: cover;
  position: relative;
  width: 188px;
}

.homepage-dt .frame-377 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  padding: 60px 0px 0px 80px;
  position: relative;
  width: 739px;
}

.homepage-dt .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.homepage-dt .frame-371 {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;
}

.homepage-dt .task_alt-1 {
  height: 40px;
  margin-left: 14px;
  width: 40px;
}

.homepage-dt .intro-copy-1 {
  color: var(--white);
  height: 48px;
  margin-top: -1.00px;
  position: relative;
  width: 574px;
}

.homepage-dt .line-1 {
  height: 1px;
  width: 630px;
}

.homepage-dt .frame-37 {
  display: flex;
  height: 40px;
  position: relative;
  width: 40px;
}

.homepage-dt .task_alt {
  height: 40px;
  margin-left: 7px;
  width: 40px;
}

.homepage-dt .intro-copy-6 {
  color: var(--white);
  height: 48px;
  margin-top: -1.00px;
  position: relative;
  width: 575px;
}

.homepage-dt .desktop-button-standard-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: -86.00px;
  padding: 100px 0px 0px;
  position: relative;
}

.homepage-dt .frame-467 {
  flex: 0 0 auto;
  margin-right: -2.00px;
  position: relative;
}

.homepage-dt .oxt {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 240px;
  position: relative;
}

.homepage-dt .token {
  height: 295px;
  position: relative;
  width: 239.98px;
}

.homepage-dt .overlap-group-1 {
  height: 295px;
  position: relative;
  width: 240px;
}

.homepage-dt .vector-747 {
  height: 215px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 240px;
}

.homepage-dt .vector-748 {
  height: 215px;
  left: 53px;
  mix-blend-mode: color-dodge;
  position: absolute;
  top: 80px;
  width: 135px;
}

.homepage-dt .frame-470 {
  height: 187px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 176px;
}

.homepage-dt .two-color-headline-3 {
  color: var(--white);
  text-align: center;
}

.homepage-dt .frame-385 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 839px;
}

.homepage-dt .intro-copy-7 {
  color: var(--white);
  height: 72px;
  margin-left: -3.50px;
  margin-right: -3.50px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 846px;
}

.homepage-dt .frame-389 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 48px 45px;
  justify-content: center;
  padding: 48px 0px 0px;
  position: relative;
  width: 100%;
}

.homepage-dt .card {
  align-items: center;
  background-color: var(--log-cabin);
  border-radius: 24px;
  display: flex;
  height: 216px;
  justify-content: center;
  position: relative;
  width: 208px;
}

.homepage-dt .icon-card-large-1 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 120px;
}

.homepage-dt .union-container {
  height: 121px;
  left: 0;
  position: absolute;
  top: 0;
  width: 116px;
}

.homepage-dt .union-3 {
  height: 59px;
  left: 0;
  position: absolute;
  top: 0;
  width: 61px;
}

.homepage-dt .wide-support {
  color: var(--white);
  font-weight: 600;
  height: 40px;
  line-height: 34.7px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 320px;
}

.homepage-dt .intro-copy-2 {
  color: var(--white);
  height: 105px;
  position: relative;
  text-align: center;
  width: 320px;
}

.homepage-dt .line-2 {
  height: 367px;
  width: 1px;
}

.homepage-dt .developers {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 246px;
  padding: 120px 0px;
  position: relative;
  width: 1280px;
}

.homepage-dt .frame-397 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.homepage-dt .frame-392 {
  display: flex;
  height: 72px;
  justify-content: center;
  position: relative;
  width: 1280px;
}

.homepage-dt .intro-copy-8 {
  color: var(--white);
  height: 72px;
  margin-left: 2px;
  text-align: right;
  width: 1281px;
}

.homepage-dt .frame-396 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 58px;
  position: relative;
}

.homepage-dt .frame-39 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.homepage-dt .github-1 {
  height: 40px;
  position: relative;
  width: 42px;
}

.homepage-dt .about-orchid {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 22.4px;
  position: relative;
  width: 222px;
}

.homepage-dt .frame-1 {
  height: 40px;
  position: relative;
  width: 40px;
}

.homepage-dt .overlap-group-2 {
  align-items: center;
  background-color: var(--aquamarine);
  border-radius: 20px;
  display: flex;
  height: 40px;
  left: 1px;
  min-width: 40px;
  padding: 0 4px;
  position: relative;
}

.homepage-dt .anchor {
  height: 32px;
  width: 32px;
}

.homepage-dt .about-orchid-1 {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 22.4px;
  position: relative;
  width: 214px;
}

.homepage-dt .proof {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 240px;
  padding: 0px 1px;
  position: relative;
  width: 1280px;
}

.homepage-dt .desktop-header-section-simple {
  align-self: stretch;
  height: 56px;
  position: relative;
  width: 100%;
}

.homepage-dt .line-2-1 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 56px;
  width: 1278px;
}

.homepage-dt .title-1 {
  color: transparent;
  font-weight: 600;
  height: 32px;
  left: 0;
  line-height: 44.0px;
  position: absolute;
  text-shadow: 0px 4px 16px #ffffff40;
  top: -1px;
  white-space: nowrap;
  width: 1278px;
}

.homepage-dt .frame-415 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  margin-right: -1.00px;
  position: relative;
}

.homepage-dt .frame-414 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.homepage-dt .frame-413 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.homepage-dt .rectangle-copy-7 {
  border: 1px solid;
  border-color: var(--pixie-powder);
  border-radius: 16px;
  box-shadow: 0px 4px 20px #00000033;
  height: 282px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  position: relative;
  width: 413px;
}

.homepage-dt .rectangle-copy-8 {
  bottom: 0;
  height: 88px;
  left: calc(50.00% - 206px);
  position: absolute;
  width: 411px;
}

.homepage-dt .frame-412 {
  align-items: flex-start;
  bottom: 24px;
  display: inline-flex;
  gap: 24px;
  left: calc(50.00% - 174px);
  position: absolute;
}

.homepage-dt .frame-4-1 {
  background-color: var(--log-cabin);
  border-radius: 20px;
  height: 40px;
  position: relative;
  width: 40px;
}

.homepage-dt .union-6 {
  height: 13px;
  left: 8px;
  position: absolute;
  top: 13px;
  width: 24px;
}

.homepage-dt .frame-410 {
  height: 40px;
  position: relative;
  width: 282px;
}

.homepage-dt .company-2 {
  color: var(--white);
  font-weight: 400;
  height: 20px;
  left: 0;
  line-height: 28.0px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 240px;
}

.homepage-dt .company-3 {
  color: var(--dull-lavender);
  font-weight: 700;
  height: 16px;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
  width: 282px;
}

.homepage-dt .in-a-world-where-one {
  color: var(--white);
  font-weight: 400;
  left: 2.50%;
  line-height: 28.0px;
  position: absolute;
  top: calc(50.00% - 116px);
  width: 27.13%;
}

.homepage-dt .frame-406 {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--pixie-powder);
  border-radius: 16px;
  box-shadow: 0px 4px 20px #00000033;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-end;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
}

.homepage-dt .in-a-world-where-one-1 {
  width: 346px;
}

.homepage-dt .rectangle-copy {
  height: 89px;
  position: relative;
  width: 410px;
}

.homepage-dt .frame-409 {
  align-items: center;
  bottom: 26px;
  display: inline-flex;
  gap: 24px;
  left: calc(50.00% - 174px);
  position: absolute;
}

.homepage-dt .union-7 {
  height: 22px;
  left: 5px;
  position: absolute;
  top: 10px;
  width: 31px;
}

.homepage-dt .frame-40 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-end;
  position: relative;
}

.homepage-dt .company {
  color: var(--white);
  font-weight: 400;
  height: 20px;
  line-height: 28.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 240px;
}

.homepage-dt .company-1 {
  color: var(--dull-lavender);
  font-weight: 700;
  height: 16px;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: 240px;
}

.homepage-dt .frame-405 {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--pixie-powder);
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-end;
  margin-bottom: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  position: relative;
}

.homepage-dt .in-a-world-where-one-2 {
  width: 347px;
}

.homepage-dt .frame-404 {
  align-items: center;
  bottom: 26px;
  display: inline-flex;
  gap: 24px;
  left: calc(50.00% - 143px);
  position: absolute;
}

.homepage-dt .desktop-header {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 96px;
  justify-content: space-between;
  left: 0;
  padding: 24px 80px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.homepage-dt .desktop-home-logo-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 36px;
  position: relative;
}

.homepage-dt .desktop-header-top-nav {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 48px 60px;
  height: 14px;
  justify-content: center;
  padding: 0px 48px;
  position: relative;
}

.homepage-dt .desktop-button-top-nav {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 90px;
}

.homepage-dt .build {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage-dt .desktop-button-top-nav-1 {
  display: inline-flex;
  flex: 0 0 auto;
}

.homepage-dt .desktop-button-top-nav-2 {
  display: flex;
  width: 37px;
}

.homepage-dt .desktop-button-top-nav-3 {
  display: flex;
  width: 36px;
}

.homepage-dt .desktop-button-top-nav-4 {
  display: flex;
  width: 44px;
}

.homepage-dt .desktop-button-top-nav-5 {
  display: flex;
  width: 61px;
}

.homepage-dt .desktop-button-top-nav-6 {
  display: flex;
  width: 50px;
}

.homepage-dt .desktop-button-header {
  background-image: url(../img/button-base-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  width: 196px;
}

.homepage-dt .button-label {
  color: var(--white);
  font-weight: 700;
  height: 14px;
  line-height: 14.4px;
  text-align: center;
  width: 196px;
}

.homepage-dt .build-5 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage-dt .desktop-button {
  align-items: center;
  position: relative;
}

.homepage-dt .desktop-button-top-nav-7 {
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.homepage-dt .in-a-world-where-one-3 {
  color: var(--white);
  font-weight: 400;
  height: 140px;
  line-height: 28.0px;
  position: relative;
}

.homepage-dt .intro-copy-9 {
  font-weight: 400;
  line-height: 28.0px;
}

.homepage-dt .line-3 {
  object-fit: cover;
  position: relative;
}

.homepage-dt .two-color-headline-4 {
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  width: 1280px;
}

.homepage-dt .vpn-3 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
