/* screen - homepage-u40responsiveu41 */

.homepage-u40responsiveu41 {
  align-items: flex-start;
  background-color: var(--licorice);
  display: flex;
  height: 7848px;
  overflow: hidden;
  width: 1440px;
}

.homepage-u40responsiveu41 .overlap-group5 {
  height: 7883px;
  margin-left: -218px;
  margin-top: -35px;
  position: relative;
  width: 1818px;
}

.homepage-u40responsiveu41 .e841c27c-50e9-459b-8d61-23598b47139a-1 {
  height: 1136px;
  left: 938px;
  top: 157px;
  width: 720px;
}

.homepage-u40responsiveu41 .decorative-spheres {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 5957px;
  padding: 0 72.1px;
  position: absolute;
  top: 1438px;
  width: 1818px;
}

.homepage-u40responsiveu41 .ellipse-container {
  align-items: flex-start;
  display: flex;
  gap: 188px;
  height: 821px;
  margin-left: 97.15px;
  min-width: 1107px;
}

.homepage-u40responsiveu41 .ellipse-37 {
  background-color: var(--cod-gray);
  border-radius: 179.5px;
  height: 359px;
  width: 359px;
}

.homepage-u40responsiveu41 .ellipse-34 {
  align-self: flex-end;
  background-color: var(--cod-gray);
  border-radius: 280px;
  height: 560px;
  width: 560px;
}

.homepage-u40responsiveu41 .ellipse-31 {
  align-self: flex-start;
  background-color: var(--cod-gray);
  border-radius: 350px;
  height: 700px;
  margin-left: 52.0px;
  margin-top: 372px;
  transform: rotate(-151.70deg);
  width: 700px;
}

.homepage-u40responsiveu41 .ellipse-35 {
  align-self: flex-end;
  background-color: var(--cod-gray);
  border-radius: 582.83px;
  height: 1166px;
  margin-top: 1903px;
  transform: rotate(97.61deg);
  width: 1166px;
}

.homepage-u40responsiveu41 .ellipse-36 {
  background-color: var(--cod-gray);
  border-radius: 190.13px;
  height: 380px;
  margin-right: 564.56px;
  margin-top: 592px;
  transform: rotate(97.61deg);
  width: 380px;
}

.homepage-u40responsiveu41 .ellipse-32 {
  background-color: var(--cod-gray);
  border-radius: 190px;
  height: 380px;
  left: 179px;
  position: absolute;
  top: 6271px;
  transform: rotate(-151.70deg);
  width: 380px;
}

.homepage-u40responsiveu41 .ellipse-33 {
  background-color: var(--cod-gray);
  border-radius: 259.84px;
  height: 520px;
  left: 1155px;
  position: absolute;
  top: 3713px;
  transform: rotate(-151.70deg);
  width: 520px;
}

.homepage-u40responsiveu41 .overlap-group1 {
  height: 772px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 936px;
}

.homepage-u40responsiveu41 .ellipse-container-1 {
  height: 772px;
  left: 0;
  position: absolute;
  top: 0;
  width: 913px;
}

.homepage-u40responsiveu41 .ellipse-28 {
  background-color: var(--cod-gray);
  border-radius: 310px;
  height: 620px;
  left: 0;
  position: absolute;
  top: 0;
  width: 620px;
}

.homepage-u40responsiveu41 .ellipse-29 {
  background-color: var(--cod-gray);
  border-radius: 155px;
  height: 310px;
  left: 603px;
  position: absolute;
  top: 462px;
  width: 310px;
}

.homepage-u40responsiveu41 .ellipse-30 {
  background-color: var(--cod-gray);
  border-radius: 100px;
  height: 200px;
  left: 736px;
  position: absolute;
  top: 18px;
  width: 200px;
}

.homepage-u40responsiveu41 .e841c27c-50e9-459b-8d61-23598b47139a-2 {
  height: 1400px;
  left: 218px;
  top: 3873px;
  width: 586px;
}

.homepage-u40responsiveu41 .e841c27c-50e9-459b-8d61-23598b47139a-3 {
  height: 712px;
  left: 1014px;
  top: 7171px;
  width: 644px;
}

.homepage-u40responsiveu41 .hero {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 298px;
  min-height: 456px;
  position: absolute;
  top: 355px;
  width: 845px;
}

.homepage-u40responsiveu41 .go-nano {
  height: 102px;
  margin-left: 3.5px;
  margin-top: 37px;
  width: 729px;
}

.homepage-u40responsiveu41 .something-you-can-do-now-yes-really {
  color: transparent;
  font-weight: 600;
  line-height: 40px;
  margin-top: 23px;
  white-space: nowrap;
}

.homepage-u40responsiveu41 .span {
  color: var(--white);
}

.homepage-u40responsiveu41 .span-1 {
  color: var(--aquamarine);
}

.homepage-u40responsiveu41 .intro-copy-3 {
  line-height: 28.0px;
  margin-top: 20px;
  min-height: 56px;
  width: 845px;
}

.homepage-u40responsiveu41 .overlap-group {
  align-items: center;
  background-image: url(../img/rectangle-6.svg);
  background-size: 100% 100%;
  display: flex;
  height: 80px;
  margin-top: 98px;
  min-width: 360px;
}

.homepage-u40responsiveu41 .about-orchid-1 {
  color: var(--white);
  text-align: center;
  width: 360px;
}

.homepage-u40responsiveu41 .header-top-nav {
  align-items: center;
  display: flex;
  height: 84px;
  left: 218px;
  min-width: 1440px;
  padding: 12px 80px;
  position: absolute;
  top: 35px;
}

.homepage-u40responsiveu41 .orchid-wordmark_-small-1 {
  height: 36px;
  margin-top: 8.0px;
  width: 140px;
}

.homepage-u40responsiveu41 .navbar {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 222px;
  margin-top: 12.0px;
  min-width: 674px;
}

.homepage-u40responsiveu41 .navbar-link-account {
  margin-left: -15px;
  width: 40px;
}

.homepage-u40responsiveu41 .navbar-link-account-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-left: 71px;
  margin-top: -1px;
  text-align: right;
  white-space: nowrap;
  width: 37px;
}

.homepage-u40responsiveu41 .navbar-link-how-it-works {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-left: 20px;
  margin-top: -1px;
  text-align: right;
  white-space: nowrap;
  width: 90px;
}

.homepage-u40responsiveu41 .navbar-link-oxt {
  margin-left: 19px;
  width: 88px;
}

.homepage-u40responsiveu41 .navbar-link-about {
  margin-left: 64px;
  width: 44px;
}

.homepage-u40responsiveu41 .navbar-link-contact {
  margin-left: 55px;
  width: 54px;
}

.homepage-u40responsiveu41 .frame-4 {
  align-items: center;
  display: flex;
  gap: 7px;
  margin-left: 37px;
  position: relative;
  width: 70px;
}

.homepage-u40responsiveu41 .frame-3 {
  align-items: center;
  display: flex;
  position: relative;
  width: 45px;
}

.homepage-u40responsiveu41 .x-icon {
  height: 18px;
  position: relative;
  width: 18px;
}

.homepage-u40responsiveu41 .iconactionlanguage_24px {
  height: 15px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 15px;
}

.homepage-u40responsiveu41 .english {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 27px;
}

.homepage-u40responsiveu41 .overlap-group-1 {
  align-items: flex-start;
  align-self: flex-end;
  background-image: url(../img/rectangle-6-1.svg);
  background-size: 100% 100%;
  display: flex;
  height: 48px;
  margin-left: 48px;
  min-width: 196px;
  padding: 12.6px 0;
}

.homepage-u40responsiveu41 .about-orchid-2 {
  color: var(--white);
  min-height: 23px;
  text-align: center;
  white-space: nowrap;
  width: 196px;
}

.homepage-u40responsiveu41 .overlap-group2 {
  height: 880px;
  left: 298px;
  position: absolute;
  top: 3347px;
  width: 1282px;
}

.homepage-u40responsiveu41 .vpn {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  min-height: 867px;
  position: absolute;
  top: 0;
  width: 1282px;
}

.homepage-u40responsiveu41 .flex-row {
  align-items: center;
  display: flex;
  height: 32px;
  min-width: 1280px;
}

.homepage-u40responsiveu41 .the-orchid-vpn {
  align-self: flex-end;
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: 0.84px;
  line-height: 33.6px;
  margin-bottom: 0;
  min-height: 32px;
  white-space: nowrap;
  width: 214px;
}

.homepage-u40responsiveu41 .line-10 {
  height: 1px;
  margin-bottom: 1.0px;
  object-fit: cover;
  width: 1066px;
}

.homepage-u40responsiveu41 .overlap-group-2 {
  height: 811px;
  position: relative;
  width: 1280px;
}

.homepage-u40responsiveu41 .group-294 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  min-height: 294px;
  position: absolute;
  top: 0;
  width: 849px;
}

.homepage-u40responsiveu41 .decentralized-marketplace {
  color: transparent;
  font-weight: 800;
  height: 200px;
  line-height: 60px;
  width: 845px;
}

.homepage-u40responsiveu41 .intro-copy-4 {
  line-height: 28.0px;
  min-height: 70px;
  width: 841px;
}

.homepage-u40responsiveu41 .connect_noshadow-1 {
  height: 788px;
  left: 761px;
  position: absolute;
  top: 23px;
  width: 519px;
}

.homepage-u40responsiveu41 .appstorebadge-2 {
  height: 56px;
  left: 217px;
  object-fit: cover;
  position: absolute;
  top: 374px;
  width: 188px;
}

.homepage-u40responsiveu41 .google-play-icon-transparent-6 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 374px;
  width: 187px;
}

.homepage-u40responsiveu41 .group-339 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 109px;
  min-height: 240px;
  position: absolute;
  top: 486px;
  width: 732px;
}

.homepage-u40responsiveu41 .group-336 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  min-width: 731px;
}

.homepage-u40responsiveu41 .task_alt {
  height: 40px;
  width: 40px;
}

.homepage-u40responsiveu41 .intro-copy {
  color: var(--white);
  font-weight: 400;
  height: 40px;
  line-height: 28.0px;
  width: 673px;
}

.homepage-u40responsiveu41 .line {
  height: 1px;
  margin-top: 23px;
  object-fit: cover;
  width: 732px;
}

.homepage-u40responsiveu41 .group-33 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  margin-top: 24px;
  min-width: 731px;
}

.homepage-u40responsiveu41 .overlap-group1-1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-6-2.svg);
  background-size: 100% 100%;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  left: 109px;
  min-width: 301px;
  padding: 14.6px 0;
  position: absolute;
  top: 824px;
}

.homepage-u40responsiveu41 .about-orchid {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  min-height: 27px;
  text-align: center;
  white-space: nowrap;
  width: 301px;
}

.homepage-u40responsiveu41 .social-proof {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 63px;
  left: 298px;
  min-height: 520px;
  position: absolute;
  top: 6675px;
  width: 1282px;
}

.homepage-u40responsiveu41 .overlap-group3 {
  height: 176px;
  position: relative;
  width: 1279px;
}

.homepage-u40responsiveu41 .group-334 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 80px;
  left: 0;
  min-height: 176px;
  position: absolute;
  top: 0;
  width: 1279px;
}

.homepage-u40responsiveu41 .overlap-group2-1 {
  height: 40px;
  position: relative;
  width: 1275px;
}

.homepage-u40responsiveu41 .developers {
  left: 0;
  letter-spacing: 0.84px;
  line-height: 33.6px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 194px;
}

.homepage-u40responsiveu41 .line-9 {
  height: 1px;
  left: 179px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 1096px;
}

.homepage-u40responsiveu41 .intro-copy-5 {
  line-height: 28.0px;
  min-height: 56px;
  width: 780px;
}

.homepage-u40responsiveu41 .decentralized-marketplace-1 {
  color: transparent;
  height: 48px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 954px;
}

.homepage-u40responsiveu41 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 22px;
  margin-left: -1px;
  min-width: 1282px;
}

.homepage-u40responsiveu41 .overlap-group-3 {
  border: 1px solid;
  border-color: var(--pixie-powder);
  border-radius: 16px;
  box-shadow: 0px 4px 20px #00000033;
  height: 282px;
  position: relative;
  width: 413px;
}

.homepage-u40responsiveu41 .rectangle-copy-8 {
  height: 88px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 411px;
}

.homepage-u40responsiveu41 .group-299 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 52px;
  left: 32px;
  min-height: 232px;
  position: absolute;
  top: 24px;
  width: 349px;
}

.homepage-u40responsiveu41 .in-a-world-where-one {
  letter-spacing: 0.48px;
  line-height: 38.4px;
  min-height: 140px;
  width: 347px;
}

.homepage-u40responsiveu41 .span1 {
  color: var(--white);
  font-weight: 400;
  line-height: 32.0px;
}

.homepage-u40responsiveu41 .group-356 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  min-width: 350px;
}

.homepage-u40responsiveu41 .logo {
  align-items: flex-start;
  background-color: var(--log-cabin);
  border-radius: 20px;
  display: flex;
  height: 40px;
  min-width: 40px;
  padding: 13.3px 8.0px;
}

.homepage-u40responsiveu41 .fill-2 {
  height: 13px;
  width: 12px;
}

.homepage-u40responsiveu41 .fill-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 13px;
  width: 12px;
}

.homepage-u40responsiveu41 .fill-1 {
  height: 4px;
  margin-left: 4.27px;
  width: 8px;
}

.homepage-u40responsiveu41 .fill-3 {
  height: 9px;
  width: 12px;
}

.homepage-u40responsiveu41 .company-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 40px;
  width: 282px;
}

.homepage-u40responsiveu41 .company {
  color: var(--white);
  font-weight: 400;
  height: 20px;
  line-height: 28.0px;
  white-space: nowrap;
}

.homepage-u40responsiveu41 .company-1 {
  color: var(--dull-lavender);
  font-weight: 700;
  height: 16px;
  line-height: 24px;
  margin-bottom: -8px;
  white-space: nowrap;
}

.homepage-u40responsiveu41 .overlap-group-4 {
  border: 1px solid;
  border-color: var(--pixie-powder);
  border-radius: 16px;
  box-shadow: 0px 4px 20px #00000033;
  height: 282px;
  position: relative;
  width: 412px;
}

.homepage-u40responsiveu41 .rectangle-copy-8-1 {
  height: 88px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 410px;
}

.homepage-u40responsiveu41 .group-299-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 52px;
  left: 32px;
  min-height: 232px;
  position: absolute;
  top: 24px;
  width: 348px;
}

.homepage-u40responsiveu41 .in-a-world-where-one-1 {
  width: 346px;
}

.homepage-u40responsiveu41 .group-355 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  min-width: 308px;
}

.homepage-u40responsiveu41 .logo-1 {
  align-items: flex-end;
  justify-content: flex-end;
  padding: 8px 4.1px;
}

.homepage-u40responsiveu41 .group {
  height: 22px;
  width: 31px;
}

.homepage-u40responsiveu41 .company-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 40px;
  width: 240px;
}

.homepage-u40responsiveu41 .overlap-group-5 {
  align-items: center;
  border: 1px solid;
  border-color: var(--pixie-powder);
  border-radius: 16px;
  box-shadow: 0px 4px 20px #00000033;
  display: flex;
  flex-direction: column;
  gap: 33px;
  min-height: 282px;
  padding: 1px 0;
  width: 413px;
}

.homepage-u40responsiveu41 .in-a-world-where-one-2 {
  margin-right: 2.0px;
  margin-top: 19px;
  width: 347px;
}

.homepage-u40responsiveu41 .overlap-group1-2 {
  align-items: center;
  background-image: url(../img/rectangle-copy-8.svg);
  background-size: 100% 100%;
  display: flex;
  gap: 24px;
  height: 88px;
  min-width: 411px;
  padding: 0 32px;
}

.homepage-u40responsiveu41 .logo-2 {
  align-items: center;
  padding: 0 7px;
}

.homepage-u40responsiveu41 .coindesk-1 {
  height: 24px;
  width: 26px;
}

.homepage-u40responsiveu41 .ecosystem {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 298px;
  min-height: 616px;
  position: absolute;
  top: 1075px;
  width: 1282px;
}

.homepage-u40responsiveu41 .line-9-1 {
  margin-top: 1.0px;
  width: 543px;
}

.homepage-u40responsiveu41 .discover {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: 0.84px;
  line-height: 33.6px;
  min-height: 32px;
  text-align: center;
  white-space: nowrap;
  width: 194px;
}

.homepage-u40responsiveu41 .line-10-1 {
  width: 543px;
}

.homepage-u40responsiveu41 .the-orchid-ecosystem {
  color: transparent;
  font-weight: 800;
  line-height: 60px;
  margin-top: 16px;
  min-height: 72px;
  text-align: center;
  white-space: nowrap;
  width: 1280px;
}

.homepage-u40responsiveu41 .group-333 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 456px;
  margin-top: 40px;
  min-width: 1280px;
}

.homepage-u40responsiveu41 .overlap-group-6 {
  align-items: center;
  background-color: var(--log-cabin);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  min-height: 456px;
  padding: 39.8px 0;
  width: 302px;
}

.homepage-u40responsiveu41 .frame-11-1 {
  height: 152px;
  margin-right: 0;
  width: 142px;
}

.homepage-u40responsiveu41 .storchid {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  margin-top: 40px;
  text-align: center;
  white-space: nowrap;
  width: 222px;
}

.homepage-u40responsiveu41 .intro-copy-6 {
  line-height: 28.0px;
  margin-top: 8px;
  min-height: 136px;
  text-align: center;
  width: 222px;
}

.homepage-u40responsiveu41 .overlap-group1-3 {
  align-items: center;
  background-color: var(--black-2);
  border: 0.5px solid;
  border-color: var(--manatee);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  min-height: 456px;
  padding: 39.4px 23.5px;
  width: 302px;
}

.homepage-u40responsiveu41 .frame-10 {
  height: 152px;
  margin-right: 1.0px;
  width: 152px;
}

.homepage-u40responsiveu41 .staking {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  margin-right: 1.0px;
  margin-top: 40px;
  text-align: center;
  white-space: nowrap;
  width: 134px;
}

.homepage-u40responsiveu41 .intro-copy-1 {
  align-self: flex-start;
  line-height: 28.0px;
  margin-top: 8px;
  min-height: 136px;
  text-align: center;
  width: 254px;
}

.homepage-u40responsiveu41 .overlap-group2-2 {
  align-items: center;
  background-color: var(--black-2);
  border: 0.5px solid;
  border-color: var(--manatee);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  min-height: 456px;
  padding: 39.5px 23.5px;
  width: 302px;
}

.homepage-u40responsiveu41 .frame-1 {
  height: 152px;
  margin-right: 1.0px;
  width: 206px;
}

.homepage-u40responsiveu41 .account-d-app {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  margin-right: 1.0px;
  margin-top: 40px;
  text-align: center;
  white-space: nowrap;
  width: 224px;
}

.homepage-u40responsiveu41 .overlap-group3-1 {
  align-items: center;
  background-color: var(--black-2);
  border: 0.5px solid;
  border-color: var(--manatee);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  min-height: 456px;
  padding: 37.5px 23.5px;
  width: 302px;
}

.homepage-u40responsiveu41 .frame-12 {
  height: 156px;
  margin-right: 0.56px;
  width: 176px;
}

.homepage-u40responsiveu41 .orchid-vpn {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  margin-right: 2.0px;
  margin-top: 38px;
  text-align: center;
  white-space: nowrap;
  width: 187px;
}

.homepage-u40responsiveu41 .marketplace {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 126px;
  min-height: 1128px;
  position: absolute;
  top: 1891px;
  width: 1456px;
}

.homepage-u40responsiveu41 .overlap-group-7 {
  height: 40px;
  margin-right: 4.0px;
  position: relative;
  width: 1280px;
}

.homepage-u40responsiveu41 .enabling {
  color: var(--white);
  font-weight: 600;
  left: 1086px;
  line-height: 38.4px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
  width: 194px;
}

.homepage-u40responsiveu41 .line-9-2 {
  left: 0;
  position: absolute;
  top: 16px;
  width: 1129px;
}

.homepage-u40responsiveu41 .overlap-group4 {
  height: 952px;
  margin-top: 16px;
  position: relative;
  width: 1456px;
}

.homepage-u40responsiveu41 .decentralized-marketplace-2 {
  color: transparent;
  height: 48px;
  left: 498px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 954px;
}

.homepage-u40responsiveu41 .intro-copy-7 {
  left: 498px;
  line-height: 28.0px;
  position: absolute;
  text-align: right;
  top: 72px;
  width: 949px;
}

.homepage-u40responsiveu41 .overlap-group3-2 {
  height: 952px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1456px;
}

.homepage-u40responsiveu41 .group-348 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 391px;
  left: 465px;
  min-height: 548px;
  position: absolute;
  top: 200px;
  width: 991px;
}

.homepage-u40responsiveu41 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  height: 152px;
  min-width: 987px;
}

.homepage-u40responsiveu41 .vector-749 {
  margin-top: 14.67px;
}

.homepage-u40responsiveu41 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 152px;
  width: 627px;
}

.homepage-u40responsiveu41 .orchid {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  white-space: nowrap;
}

.homepage-u40responsiveu41 .intro-copy-8 {
  line-height: 33.6px;
  min-height: 104px;
  width: 627px;
}

.homepage-u40responsiveu41 .group-349 {
  align-items: flex-start;
  display: flex;
  gap: 19px;
  height: 184px;
  left: 785px;
  min-width: 671px;
  position: absolute;
  top: 440px;
}

.homepage-u40responsiveu41 .vector-749-1 {
  height: 11px;
  margin-top: 14.67px;
  width: 129px;
}

.homepage-u40responsiveu41 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 184px;
  width: 519px;
}

.homepage-u40responsiveu41 .intro-copy-9 {
  line-height: 33.6px;
  min-height: 136px;
  width: 519px;
}

.homepage-u40responsiveu41 .intro-copy-10 {
  left: 825px;
  line-height: 33.6px;
  position: absolute;
  top: 776px;
  width: 627px;
}

.homepage-u40responsiveu41 .the-orchid-server {
  color: var(--white);
  font-weight: 600;
  left: 825px;
  line-height: 40px;
  position: absolute;
  top: 728px;
  white-space: nowrap;
  width: 627px;
}

.homepage-u40responsiveu41 .group-345 {
  align-items: flex-end;
  display: flex;
  height: 952px;
  left: 0;
  min-width: 948px;
  padding: 94.8px 95.9px;
  position: absolute;
  top: 0;
}

.homepage-u40responsiveu41 .group-347 {
  align-items: flex-start;
  display: flex;
  height: 762px;
  min-width: 756px;
  transform: rotate(-17.22deg);
}

.homepage-u40responsiveu41 .overlap-group2-3 {
  height: 1008px;
  margin-left: -119px;
  margin-top: -79.03px;
  position: relative;
  width: 993px;
}

.homepage-u40responsiveu41 .grid-bg-1 {
  height: 811px;
  left: 102px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 98px;
  transform: rotate(17.22deg);
  width: 788px;
}

.homepage-u40responsiveu41 .ellipse-52 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 197.5px;
  height: 395px;
  left: 304px;
  position: absolute;
  top: 322px;
  transform: rotate(17.22deg);
  width: 395px;
}

.homepage-u40responsiveu41 .ellipse-64 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 19px/19.5px;
  height: 39px;
  left: 558px;
  position: absolute;
  top: 254px;
  transform: rotate(17.22deg);
  width: 38px;
}

.homepage-u40responsiveu41 .ellipse-63 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 22.5px;
  height: 45px;
  left: 536px;
  position: absolute;
  top: 781px;
  transform: rotate(17.22deg);
  width: 45px;
}

.homepage-u40responsiveu41 .ellipse-64-1 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 20px;
  height: 40px;
  left: 163px;
  position: absolute;
  top: 511px;
  transform: rotate(17.22deg);
  width: 40px;
}

.homepage-u40responsiveu41 .ellipse-56 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 45px;
  height: 90px;
  left: 427px;
  position: absolute;
  top: 258px;
  transform: rotate(17.22deg);
  width: 90px;
}

.homepage-u40responsiveu41 .ellipse-55 {
  background-color: var(--licorice);
  border: 2px solid;
  border-color: var(--aquamarine);
  border-radius: 93.5px;
  height: 187px;
  left: 416px;
  position: absolute;
  top: 103px;
  transform: rotate(17.22deg);
  width: 187px;
}

.homepage-u40responsiveu41 .ellipse-59 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 16px;
  height: 32px;
  left: 566px;
  position: absolute;
  top: 316px;
  transform: rotate(17.22deg);
  width: 32px;
}

.homepage-u40responsiveu41 .ellipse-57 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 28px;
  height: 56px;
  left: 716px;
  position: absolute;
  top: 298px;
  transform: rotate(17.22deg);
  width: 56px;
}

.homepage-u40responsiveu41 .ellipse-65 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 34.5px;
  height: 69px;
  left: 743px;
  position: absolute;
  top: 621px;
  transform: rotate(17.22deg);
  width: 69px;
}

.homepage-u40responsiveu41 .ellipse-58 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 28px;
  height: 56px;
  left: 475px;
  position: absolute;
  top: 686px;
  transform: rotate(17.22deg);
  width: 56px;
}

.homepage-u40responsiveu41 .group-351 {
  align-items: flex-start;
  display: flex;
  height: 330px;
  left: 119px;
  min-width: 330px;
  position: absolute;
  top: 511px;
}

.homepage-u40responsiveu41 .overlap-group-8 {
  height: 330px;
  margin-top: 0;
  position: relative;
  width: 330px;
}

.homepage-u40responsiveu41 .ellipse-53 {
  background-color: var(--licorice);
  border: 2px solid;
  border-color: var(--aquamarine);
  border-radius: 132px;
  height: 264px;
  left: 33px;
  position: absolute;
  top: 33px;
  transform: rotate(17.22deg);
  width: 264px;
}

.homepage-u40responsiveu41 .orchid03-1 {
  height: 215px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 56px;
  transform: rotate(17.22deg);
  width: 214px;
}

.homepage-u40responsiveu41 .group-352 {
  align-items: flex-start;
  display: flex;
  height: 268px;
  left: 607px;
  min-width: 268px;
  position: absolute;
  top: 404px;
}

.homepage-u40responsiveu41 .overlap-group1-4 {
  height: 268px;
  margin-top: 0;
  position: relative;
  width: 268px;
}

.homepage-u40responsiveu41 .ellipse-54 {
  background-color: var(--licorice);
  border: 2px solid;
  border-color: var(--aquamarine);
  border-radius: 107px;
  height: 214px;
  left: 27px;
  position: absolute;
  top: 27px;
  transform: rotate(17.22deg);
  width: 214px;
}

.homepage-u40responsiveu41 .orchid02-1 {
  height: 194px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  transform: rotate(17.22deg);
  width: 200px;
}

.homepage-u40responsiveu41 .orchid01-1 {
  height: 117px;
  left: 447px;
  object-fit: cover;
  position: absolute;
  top: 128px;
  transform: rotate(17.22deg);
  width: 126px;
}

.homepage-u40responsiveu41 .ellipse-60 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 16px;
  height: 32px;
  left: 638px;
  position: absolute;
  top: 632px;
  width: 32px;
}

.homepage-u40responsiveu41 .ellipse-61 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 20px;
  height: 40px;
  left: 575px;
  position: absolute;
  top: 335px;
  width: 40px;
}

.homepage-u40responsiveu41 .ellipse-62 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 24px;
  height: 48px;
  left: 257px;
  position: absolute;
  top: 264px;
  width: 48px;
}

.homepage-u40responsiveu41 .ellipse-63-1 {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--mountain-mist);
  border-radius: 12px;
  height: 24px;
  left: 292px;
  position: absolute;
  top: 478px;
  width: 24px;
}

.homepage-u40responsiveu41 .overlap-group1-5 {
  align-items: flex-end;
  align-self: center;
  background-image: url(../img/rectangle-6-3.svg);
  background-size: 100% 100%;
  display: flex;
  height: 56px;
  margin-left: 167.0px;
  margin-top: 65px;
  min-width: 301px;
  padding: 14.6px 0;
}

.homepage-u40responsiveu41 .footer {
  align-items: center;
  background-color: #161616;
  display: flex;
  flex-direction: row;
  height: 320px;
  justify-content: flex-start;
  left: 218px;
  min-width: 1440px;
  padding: 26px 81px;
  position: absolute;
  top: 7563px;
  width: auto;
}

.homepage-u40responsiveu41 .group-311 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 186px;
  width: 264px;
}

.homepage-u40responsiveu41 .orchid-wordmark_-small-1-1 {
  height: 38px;
  width: 149px;
}

.homepage-u40responsiveu41 .orchid-container {
  height: 128px;
  position: relative;
  width: 260px;
}

.homepage-u40responsiveu41 .x2019-orchid {
  color: #f6f3fc;
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 260px;
}

.homepage-u40responsiveu41 .x2019-orchid-1 {
  color: var(--white);
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: 48px;
  width: 260px;
}

.homepage-u40responsiveu41 .apps {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 42.0px;
  margin-left: 61px;
  min-height: 160px;
  width: 160px;
}

.homepage-u40responsiveu41 .footer-item {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 42.0px;
  margin-left: 57px;
  min-height: 160px;
  width: 160px;
}

.homepage-u40responsiveu41 .follow {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  margin-bottom: 116.0px;
  margin-left: 5px;
  min-width: 246px;
}

.homepage-u40responsiveu41 .twitter {
  height: 30px;
  margin-top: 0;
  width: 30px;
}

.homepage-u40responsiveu41 .discord {
  align-items: flex-start;
  background-image: url(../img/shape-1.svg);
  background-size: 100% 100%;
  display: flex;
  height: 30px;
  margin-top: 0;
  min-width: 30px;
  padding: 5px;
}

.homepage-u40responsiveu41 .discord-1 {
  height: 19px;
  object-fit: cover;
  width: 19px;
}

.homepage-u40responsiveu41 .github {
  height: 29px;
  margin-top: 0;
  width: 30px;
}

.homepage-u40responsiveu41 .facebook {
  background-image: url(../img/shape.svg);
  background-size: 100% 100%;
  height: 30px;
  margin-top: 0.01px;
  width: 30px;
}

.homepage-u40responsiveu41 .reddit {
  background-image: url(../img/combined-shape.svg);
  background-size: 100% 100%;
  height: 30px;
  margin-top: 0;
  width: 30px;
}

.homepage-u40responsiveu41 .frame-339 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 298px;
  min-height: 1167px;
  position: absolute;
  top: 4459px;
  width: 1280px;
}

.homepage-u40responsiveu41 .overlap-group-9 {
  height: 295px;
  margin-right: 0.84px;
  position: relative;
  width: 240px;
}

.homepage-u40responsiveu41 .group-341 {
  height: 215px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 240px;
}

.homepage-u40responsiveu41 .token_-hi-fi-1 {
  height: 187px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 176px;
}

.homepage-u40responsiveu41 .group-334-2 {
  margin-left: 2.0px;
  margin-top: 16px;
}

.homepage-u40responsiveu41 .line-9-3 {
  margin-top: 1.0px;
  width: 477px;
}

.homepage-u40responsiveu41 .orchids-utility-token {
  letter-spacing: 0.84px;
  line-height: 33.6px;
  min-height: 32px;
  text-align: center;
  white-space: nowrap;
  width: 326px;
}

.homepage-u40responsiveu41 .line-10-2 {
  width: 477px;
}

.homepage-u40responsiveu41 .decentralized-marketplace-3 {
  color: var(--white);
  height: 64px;
  margin-right: 1.0px;
  margin-top: 15px;
  text-align: center;
  width: 845px;
}

.homepage-u40responsiveu41 .intro-copy-11 {
  line-height: 28.0px;
  margin-top: 32px;
  min-height: 72px;
  text-align: center;
  width: 846px;
}

.homepage-u40responsiveu41 .group-344 {
  align-items: flex-start;
  display: flex;
  height: 456px;
  margin-top: 41px;
  min-width: 1062px;
}

.homepage-u40responsiveu41 .group-329 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 456px;
  width: 306px;
}

.homepage-u40responsiveu41 .group-343 {
  align-items: flex-end;
  background-color: var(--log-cabin);
  border-radius: 24px;
  display: flex;
  height: 248px;
  margin-right: 4.0px;
  min-width: 194px;
  padding: 43.0px 25.8px;
}

.homepage-u40responsiveu41 .frame-11 {
  height: 152px;
  width: 142px;
}

.homepage-u40responsiveu41 .wide-support {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  margin-right: 4.0px;
  margin-top: 24px;
  text-align: center;
  white-space: nowrap;
  width: 302px;
}

.homepage-u40responsiveu41 .intro-copy-2 {
  line-height: 28.0px;
  margin-right: 4.0px;
  margin-top: 8px;
  min-height: 136px;
  text-align: center;
  width: 302px;
}

.homepage-u40responsiveu41 .line-1 {
  height: 248px;
  margin-left: 35px;
  margin-top: 51px;
  object-fit: cover;
  width: 1px;
}

.homepage-u40responsiveu41 .group-33-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 456px;
  width: 306px;
}

.homepage-u40responsiveu41 .deep-integration {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  margin-right: 4.0px;
  margin-top: 24px;
  text-align: center;
  white-space: nowrap;
  width: 302px;
}

.homepage-u40responsiveu41 .boundless-utility {
  color: var(--white);
  font-weight: 600;
  line-height: 40px;
  margin-right: 4.0px;
  margin-top: 24px;
  text-align: center;
  white-space: nowrap;
  width: 302px;
}

.homepage-u40responsiveu41 .overlap-group1-6 {
  align-items: flex-end;
  background-image: url(../img/rectangle-6-4.svg);
  background-size: 100% 100%;
  display: flex;
  height: 56px;
  margin-right: 1.0px;
  margin-top: 88px;
  min-width: 301px;
  padding: 14.6px 0;
}

.homepage-u40responsiveu41 .marketplace-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 298px;
  min-height: 408px;
  position: absolute;
  top: 5939px;
  width: 1284px;
}

.homepage-u40responsiveu41 .overlap-group-10 {
  height: 40px;
  margin-right: 4px;
  position: relative;
  width: 1280px;
}

.homepage-u40responsiveu41 .developers-1 {
  left: 1086px;
  letter-spacing: 0.84px;
  line-height: 33.6px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
  width: 194px;
}

.homepage-u40responsiveu41 .line-9-4 {
  left: 0;
  position: absolute;
  top: 16px;
  width: 1098px;
}

.homepage-u40responsiveu41 .decentralized-marketplace-4 {
  color: transparent;
  height: 48px;
  margin-bottom: -12px;
  margin-right: 4px;
  margin-top: 16px;
  text-align: right;
  width: 954px;
}

.homepage-u40responsiveu41 .intro-copy-12 {
  line-height: 28.0px;
  margin-right: 9px;
  margin-top: 24px;
  min-height: 72px;
  text-align: right;
  width: 1058px;
}

.homepage-u40responsiveu41 .group-301 {
  align-items: flex-start;
  display: flex;
  gap: 56px;
  height: 41px;
  margin-right: 4px;
  margin-top: 23px;
  min-width: 616px;
}

.homepage-u40responsiveu41 .github-button {
  align-items: center;
  display: flex;
  gap: 20px;
  min-width: 286px;
}

.homepage-u40responsiveu41 .github-1 {
  height: 40px;
  width: 42px;
}

.homepage-u40responsiveu41 .about-orchid-3 {
  color: var(--aquamarine);
  margin-top: 2.0px;
  width: 222px;
}

.homepage-u40responsiveu41 .github-button-1 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  gap: 20px;
  min-width: 276px;
}

.homepage-u40responsiveu41 .group-335 {
  align-items: center;
  background-color: var(--aquamarine);
  border-radius: 20px;
  display: flex;
  height: 40px;
  min-width: 40px;
  padding: 0 4px;
}

.homepage-u40responsiveu41 .anchor {
  height: 32px;
  width: 32px;
}

.homepage-u40responsiveu41 .about-orchid-4 {
  color: var(--aquamarine);
  width: 214px;
}

.homepage-u40responsiveu41 .overlap-group1-7 {
  align-items: flex-end;
  background-image: url(../img/rectangle-6-5.svg);
  background-size: 100% 100%;
  display: flex;
  height: 56px;
  margin-right: 4px;
  margin-top: 88px;
  min-width: 301px;
  padding: 14.6px 0;
}

.homepage-u40responsiveu41 .about-orchid-5 {
  font-weight: 700;
  line-height: 24px;
}

.homepage-u40responsiveu41 .decentralized-marketplace-5 {
  font-weight: 800;
  line-height: 60px;
  white-space: nowrap;
}

.homepage-u40responsiveu41 .e841c27c-50e9-459b-8d61-23598b47139a {
  mix-blend-mode: lighten;
  object-fit: cover;
  position: absolute;
}

.homepage-u40responsiveu41 .group-334-3 {
  align-items: center;
  display: flex;
  height: 32px;
  min-width: 1282px;
}

.homepage-u40responsiveu41 .in-a-world-where-one-3 {
  letter-spacing: 0.48px;
  line-height: 38.4px;
  min-height: 140px;
}

.homepage-u40responsiveu41 .intro-copy-13 {
  color: var(--white);
  font-weight: 400;
}

.homepage-u40responsiveu41 .line-10-3 {
  height: 1px;
  margin-bottom: 1.0px;
  object-fit: cover;
}

.homepage-u40responsiveu41 .line-9-5 {
  height: 1px;
  object-fit: cover;
}

.homepage-u40responsiveu41 .logo-3 {
  background-color: var(--log-cabin);
  border-radius: 20px;
  display: flex;
  height: 40px;
  min-width: 40px;
}

.homepage-u40responsiveu41 .navbar-link {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1px;
  text-align: right;
  white-space: nowrap;
}

.homepage-u40responsiveu41 .vector {
  height: 11px;
  width: 340px;
}
