/* screen - mobile-nav-overlay-5 */

.mobile-nav-overlay-5 {
  align-items: flex-end;
  background-color: var(--log-cabin);
  display: flex;
  flex-direction: column;
  height: 674px;
  width: 360px;
}

.mobile-nav-overlay-5 .close-icon {
  cursor: pointer;
  height: 24px;
  margin-right: 32px;
  margin-top: 32px;
  width: 24px;
}

.mobile-nav-overlay-5 .account {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  gap: 24px;
  margin-top: 32px;
  max-height: 56px;
  overflow: hidden;
  padding: 16px 48px;
  position: relative;
  width: 360px;
}

.mobile-nav-overlay-5 .icon {
  height: 24px;
  position: relative;
  width: 24px;
}

.mobile-nav-overlay-5 .link {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  gap: 24px;
  margin-top: 8px;
  max-height: 56px;
  overflow: hidden;
  padding: 16px 48px;
  position: relative;
  width: 360px;
}

.mobile-nav-overlay-5 .storchid {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-5 .vpn {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-5 .oxt {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-5 .how {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-5 .about {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-5 .docs {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-5 .account-3 {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}
