/* screen - mobile-nav-overlay-9 */

.mobile-nav-overlay-9 {
  align-items: flex-end;
  background-color: var(--log-cabin);
  display: flex;
  flex-direction: column;
  height: 624px;
  width: 393px;
}

.mobile-nav-overlay-9 .close-icon {
  cursor: pointer;
  height: 24px;
  margin-right: 32px;
  margin-top: 32px;
  width: 24px;
}

.mobile-nav-overlay-9 .account {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  gap: 24px;
  margin-top: 32px;
  max-height: 56px;
  padding: 16px 48px;
  position: relative;
  width: 393px;
}

.mobile-nav-overlay-9 .icon {
  height: 24px;
  position: relative;
  width: 24px;
}

.mobile-nav-overlay-9 .link {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  gap: 24px;
  margin-top: 8px;
  max-height: 56px;
  padding: 16px 48px;
  position: relative;
  width: 393px;
}

.mobile-nav-overlay-9 .storchid {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -32.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-9 .vpn {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -32.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-9 .oxt {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -32.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-9 .how {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -32.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-9 .about {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -32.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-9 .docs {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -32.00px;
  position: relative;
  width: 281px;
}

.mobile-nav-overlay-9 .account-3 {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -32.00px;
  position: relative;
  width: 281px;
}
