/* screen - oxt-desktop */

.oxt-desktop {
  align-items: flex-start;
  background-color: var(--licorice);
  display: flex;
  height: 4977px;
  min-width: 1440px;
}

.oxt-desktop .overlap-group3 {
  height: 5025px;
  margin-left: -270px;
  margin-top: -48px;
  position: relative;
  width: 1967px;
}

.oxt-desktop .ellipses {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 4709px;
  position: absolute;
  top: 0;
  width: 1967px;
}

.oxt-desktop .overlap-group1 {
  height: 775px;
  margin-left: 90.0px;
  position: relative;
  width: 936px;
}

.oxt-desktop .flex-row {
  align-items: center;
  display: flex;
  gap: 276px;
  height: 1903px;
  margin-left: 0;
  margin-top: 441px;
  min-width: 1967px;
}

.oxt-desktop .frame-500 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 270px;
  padding: 0px 160px;
  position: absolute;
  top: 3933px;
  width: 1440px;
}

.oxt-desktop .desktop-header-section-full {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.oxt-desktop .desktop-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.oxt-desktop .line {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.oxt-desktop .line-10 {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.oxt-desktop .desktop-headline-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.oxt-desktop .two-color-headline {
  color: var(--aquamarine);
  font-weight: 600;
  line-height: 44.0px;
  margin-left: -80.00px;
  margin-right: -80.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1280px;
}

.oxt-desktop .intro-copy-2 {
  color: transparent;
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: center;
  width: 1000px;
}

.oxt-desktop .span {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
}

.oxt-desktop .span-1 {
  color: var(--dull-lavender-2);
  font-weight: 600;
  line-height: 28.0px;
}

.oxt-desktop .span3 {
  color: var(--white);
  line-height: 28.0px;
}

.oxt-desktop .frame-476 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 270px;
  padding: 0px 160px;
  position: absolute;
  top: 2379px;
  width: 1440px;
}

.oxt-desktop .frame-498 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.oxt-desktop .two-color-headline-1 {
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  margin-left: -80.00px;
  margin-right: -80.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1280px;
}

.oxt-desktop .span-2 {
  color: var(--aquamarine);
}

.oxt-desktop .span-3 {
  color: var(--white);
}

.oxt-desktop .intro-copy {
  align-self: stretch;
  color: var(--white);
  cursor: pointer;
  font-weight: 400;
  line-height: 28.0px;
  position: relative;
  text-align: center;
}

.oxt-desktop .frame-497 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.oxt-desktop .step-select {
  height: 187px;
  position: relative;
  width: 682px;
}

.oxt-desktop .step-container {
  align-items: flex-end;
  display: flex;
  gap: 39px;
  height: 187px;
  min-width: 682px;
}

.oxt-desktop .step-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 23px;
  min-height: 187px;
  padding: 1px 0;
  width: 142px;
}

.oxt-desktop .frame-464-1 {
  margin-left: 1px;
}

.oxt-desktop .overlap-group {
  align-items: flex-start;
  background-color: var(--hunter-green);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 12px;
  display: flex;
  height: 142px;
  margin-top: -1px;
  min-width: 142px;
  padding: 29px 24px;
}

.oxt-desktop .frame-12 {
  height: 82px;
  width: 92px;
}

.oxt-desktop .intro-copy-3 {
  color: var(--aquamarine);
  font-weight: 600;
  line-height: 22.0px;
  margin-left: 1px;
  text-align: center;
  width: 140px;
}

.oxt-desktop .step {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 23px;
  min-height: 186px;
  width: 141px;
}

.oxt-desktop .frame-464 {
  align-items: flex-start;
  display: flex;
  height: 140px;
  justify-content: center;
  margin-left: 0;
  min-width: 140px;
}

.oxt-desktop .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--hunter-green);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 12px;
  display: flex;
  height: 142px;
  margin-top: -1px;
  min-width: 142px;
  padding: 24.8px 26.8px;
}

.oxt-desktop .frame-11 {
  height: 91px;
  width: 86px;
}

.oxt-desktop .intro-copy-1 {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
  text-align: center;
  width: 140px;
}

.oxt-desktop .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--hunter-green);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 12px;
  display: flex;
  height: 142px;
  justify-content: flex-end;
  margin-top: -1px;
  min-width: 142px;
  padding: 36px 25px;
}

.oxt-desktop .frame-1 {
  height: 67px;
  width: 91px;
}

.oxt-desktop .overlap-group-3 {
  align-items: flex-start;
  background-color: var(--hunter-green);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 12px;
  display: flex;
  height: 142px;
  margin-top: -1px;
  min-width: 142px;
  padding: 24px 24.5px;
}

.oxt-desktop .frame-10 {
  height: 92px;
  width: 92px;
}

.oxt-desktop .run-the-server {
  background-color: var(--black-2);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 343px;
  justify-content: space-between;
  position: relative;
  width: 1000px;
}

.oxt-desktop .frame-462 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 119px;
  margin-left: 40px;
  margin-top: 60px;
  width: 920px;
}

.oxt-desktop .step-1-run-the-server {
  align-self: center;
  color: var(--aquamarine);
  font-weight: 500;
  height: 35px;
  line-height: 34.7px;
  margin-left: 2px;
  width: 878px;
}

.oxt-desktop .intro-copy-4 {
  color: transparent;
  font-weight: 400;
  height: 56px;
  line-height: 28.0px;
  margin-left: 20px;
  width: 880px;
}

.oxt-desktop .span-4 {
  color: var(--dull-lavender-2);
  font-weight: 600;
}

.oxt-desktop .frame-463 {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  height: 24px;
  margin-bottom: 60px;
  margin-left: 60px;
  position: relative;
  width: 248px;
}

.oxt-desktop .intro-copy-5 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--dull-lavender-2);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.oxt-desktop .arrow-10 {
  height: 14.73px;
  margin-right: -1.00px;
  position: relative;
  width: 26px;
}

.oxt-desktop .overlap-group2 {
  height: 444px;
  left: 1210px;
  position: absolute;
  top: 188px;
  width: 420px;
}

.oxt-desktop .token_-high-render-1 {
  height: 420px;
  left: 0;
  position: absolute;
  top: 0;
  width: 420px;
}

.oxt-desktop .mag-glass {
  display: flex;
  height: 140px;
  left: 280px;
  position: absolute;
  top: 304px;
  width: 140px;
}

.oxt-desktop .layer_2 {
  align-items: flex-start;
  display: flex;
  height: 140px;
  min-width: 140px;
}

.oxt-desktop .overlap-group-4 {
  height: 148px;
  margin-left: -12px;
  margin-top: -8.0px;
  position: relative;
  width: 152px;
}

.oxt-desktop .path {
  height: 94px;
  left: 14px;
  position: absolute;
  top: 12px;
  width: 95px;
}

.oxt-desktop .layer_3-2 {
  height: 95px;
  left: 14px;
  position: absolute;
  top: 10px;
  width: 95px;
}

.oxt-desktop .shape {
  height: 126px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.oxt-desktop .path-1 {
  height: 56px;
  left: 95px;
  position: absolute;
  top: 92px;
  width: 57px;
}

.oxt-desktop .desktopfooter {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  height: 476px;
  justify-content: flex-end;
  left: 270px;
  padding: 40px 80px 120px;
  position: absolute;
  top: 4549px;
  width: 1440px;
}

.oxt-desktop .desktop-home-logo {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  height: 36px;
  position: relative;
}

.oxt-desktop .x2023-orchid-1 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 22.4px;
  width: 180px;
}

.oxt-desktop .twitter {
  background-image: url(../img/twitter-8@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 29.99px;
  position: relative;
  width: 30px;
}

.oxt-desktop .discord {
  align-items: center;
  background-image: url(../img/shape-4@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  height: 29.99px;
  justify-content: center;
  position: relative;
  width: 30px;
}

.oxt-desktop .github {
  cursor: pointer;
  height: 29.25px;
  position: relative;
  width: 30px;
}

.oxt-desktop .facebook {
  background-image: url(../img/shape-5@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 29.95px;
  position: relative;
  width: 29.88px;
}

.oxt-desktop .reddit {
  background-image: url(../img/combined-shape-6@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 30px;
}

.oxt-desktop .desktop-header {
  align-items: center;
  display: flex;
  gap: 120px;
  height: 96px;
  justify-content: center;
  left: 270px;
  padding: 24px 80px;
  position: absolute;
  top: 48px;
  width: 1440px;
}

.oxt-desktop .desktop-home-logo-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 36px;
  position: relative;
}

.oxt-desktop .desktop-header-top-nav {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 60px 60px;
  height: 14px;
  justify-content: space-between;
  position: relative;
}

.oxt-desktop .desktop-button-top-nav-1 {
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
}

.oxt-desktop .desktop-button-top-nav-2 {
  cursor: pointer;
  display: flex;
  width: 37px;
}

.oxt-desktop .vpn {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.oxt-desktop .desktop-button-top-nav-3 {
  display: flex;
  width: 36px;
}

.oxt-desktop .vpn-1 {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.oxt-desktop .desktop-button-top-nav-4 {
  cursor: pointer;
  display: flex;
  width: 44px;
}

.oxt-desktop .desktop-button-top-nav-5 {
  cursor: pointer;
  display: flex;
  width: 61px;
}

.oxt-desktop .desktop-button-top-nav-6 {
  cursor: pointer;
  display: flex;
  width: 50px;
}

.oxt-desktop .desktop-button-header {
  background-image: url(../img/button-base-1@2x.png);
  height: 48px;
  justify-content: flex-end;
  width: 196px;
}

.oxt-desktop .hero {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 270px;
  max-width: 1800px;
  padding: 0px 160px;
  position: absolute;
  top: 295px;
  width: 1440px;
}

.oxt-desktop .frame-403 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 855px;
}

.oxt-desktop .decentralized-marketplace {
  align-self: stretch;
  color: var(--white);
  font-weight: 800;
  line-height: 54.0px;
  margin-top: -1.00px;
  position: relative;
}

.oxt-desktop .the-staking-asset-fo {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  position: relative;
}

.oxt-desktop .frame-491 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.oxt-desktop .line-10-1 {
  align-self: stretch;
  margin-top: -1.00px;
  width: 100%;
}

.oxt-desktop .intro-copy-6 {
  align-self: stretch;
  color: transparent;
  font-weight: 400;
  line-height: 28.0px;
  position: relative;
}

.oxt-desktop .span-5 {
  color: var(--manatee);
}

.oxt-desktop .hero-cta-button {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 96px 0px 0px;
  position: relative;
}

.oxt-desktop .desktop-button-hero {
  background-image: url(../img/rectangle-6-6@2x.png);
  height: 80px;
  width: 360px;
}

.oxt-desktop .frame-475 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 270px;
  padding: 0px 160px;
  position: absolute;
  top: 1197px;
  width: 1440px;
}

.oxt-desktop .frame-499 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.oxt-desktop .intro-copy-7 {
  align-self: stretch;
  color: transparent;
  cursor: pointer;
  font-weight: 400;
  line-height: 28.0px;
  position: relative;
  text-align: center;
}

.oxt-desktop .frame-459 {
  background-color: var(--log-cabin);
  border-radius: 20px;
  height: 688px;
  margin-left: -80.00px;
  margin-right: -80.00px;
  position: relative;
  width: 1280px;
}

.oxt-desktop .frame-458 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 676px;
  min-height: 330px;
  position: absolute;
  top: 60px;
  width: 480px;
}

.oxt-desktop .intro-copy-8 {
  color: var(--aquamarine);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: -1px;
  min-height: 35px;
  width: 480px;
}

.oxt-desktop .group-container {
  align-items: flex-start;
  display: flex;
  gap: 88px;
  min-width: 448px;
}

.oxt-desktop .group-410 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 264px;
  width: 238px;
}

.oxt-desktop .about-orchid {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  margin-left: 0.7px;
  white-space: nowrap;
  width: 225.25px;
}

.oxt-desktop .about-orchid-1 {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 225.25px;
}

.oxt-desktop .group-409 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 216px;
  width: 122px;
}

.oxt-desktop .about-orchid-2 {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 112px;
}

.oxt-desktop .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 29px;
  left: 124px;
  min-height: 568px;
  position: absolute;
  top: 59px;
  width: 480px;
}

.oxt-desktop .intro-copy-9 {
  color: var(--aquamarine);
  font-weight: 500;
  line-height: 34.7px;
  min-height: 35px;
  width: 480px;
}

.oxt-desktop .frame-341 {
  align-items: flex-start;
  display: flex;
  gap: 25px;
  height: 504px;
  min-width: 411px;
}

.oxt-desktop .about-orchid-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: -1px;
  min-height: 504px;
  width: 192px;
}

.oxt-desktop .about-orchid-3 {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
}

.oxt-desktop .about-orchid-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: -1px;
  min-height: 504px;
  width: 194px;
}

.oxt-desktop .frame-499-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 270px;
  padding: 0px 160px;
  position: absolute;
  top: 3415px;
  width: 1440px;
}

.oxt-desktop .line-10-2 {
  flex: 1;
  flex-grow: 1;
}

.oxt-desktop .supply-links {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
}

.oxt-desktop .about-orchid-4 {
  color: var(--dull-lavender-2);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.oxt-desktop .desktop-button {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  position: relative;
}

.oxt-desktop .desktop-button-top-nav-7 {
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.oxt-desktop .desktop-header-section-full-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.oxt-desktop .frame-464-3 {
  align-items: flex-start;
  display: flex;
  height: 140px;
  justify-content: center;
  min-width: 140px;
}

.oxt-desktop .frame-500-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.oxt-desktop .line-10-3 {
  height: 1px;
  object-fit: cover;
  position: relative;
}
