/* screen - storchid-desktop */

.storchid-desktop {
  align-items: center;
  background-color: var(--licorice);
  display: flex;
  flex-direction: column;
  gap: 240px;
  height: 4097px;
  position: relative;
  width: 1440px;
}

.storchid-desktop .ellipses {
  height: 3407px;
  left: -264px;
  position: absolute;
  top: -90px;
  width: 1967px;
}

.storchid-desktop .flex-row {
  align-items: center;
  display: flex;
  gap: 276px;
  height: 1903px;
  left: 0;
  min-width: 1967px;
  position: absolute;
  top: 1216px;
}

.storchid-desktop .ellipse-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 770px;
  min-height: 1903px;
  width: 808px;
}

.storchid-desktop .overlap-group1 {
  height: 775px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 936px;
}

.storchid-desktop .ellipse-container-1 {
  height: 775px;
  left: 0;
  position: absolute;
  top: 0;
  width: 912px;
}

.storchid-desktop .hero-image {
  display: flex;
  height: 759px;
  left: calc(50.00% - 796px);
  position: absolute;
  top: 0;
  width: 1593px;
}

.storchid-desktop .storage-splash-1 {
  height: 739px;
  margin-left: 58px;
  margin-top: -10px;
  width: 1573px;
}

.storchid-desktop .desktop-home-logo {
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 36px;
  position: relative;
}

.storchid-desktop .union {
  height: 36px;
  position: relative;
  width: 140px;
}

.storchid-desktop .vpn {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.storchid-desktop .desktop-button-header {
  background-image: url(../img/button-base-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  width: 196px;
}

.storchid-desktop .hero {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 72px;
  max-width: 1800px;
  padding: 200px 160px;
  position: relative;
  width: 1440px;
}

.storchid-desktop .frame-403 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 855px;
}

.storchid-desktop .decentralized-marketplace {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 54.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.storchid-desktop .span {
  color: var(--aquamarine);
}

.storchid-desktop .span-1 {
  color: var(--white);
}

.storchid-desktop .line-10 {
  align-self: stretch;
  position: relative;
  width: 100%;
}

.storchid-desktop .storchid-is-a-new-op {
  align-self: stretch;
  color: transparent;
  font-weight: 500;
  line-height: 34.7px;
  position: relative;
  text-align: center;
}

.storchid-desktop .storchid-concepts {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 789px;
  padding: 0px 160px;
  position: relative;
  width: 100%;
}

.storchid-desktop .desktop-header-section-full {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.storchid-desktop .desktop-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.storchid-desktop .line {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.storchid-desktop .desktop-headline-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.storchid-desktop .two-color-headline {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
}

.storchid-desktop .copy {
  align-self: stretch;
  display: flex;
  height: 651px;
  position: relative;
  width: 100%;
}

.storchid-desktop .text {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 651px;
  line-height: 28px;
  width: 1120px;
}

.storchid-desktop .span-2 {
  font-weight: 500;
  line-height: 34.7px;
}

.storchid-desktop .span-3 {
  line-height: 28.0px;
}

.storchid-desktop .span6 {
  font-weight: 600;
  line-height: 22.0px;
}

.storchid-desktop .storage-design {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 160px;
  position: relative;
  width: 100%;
}

.storchid-desktop .two-color-headline-1 {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.storchid-desktop .frame-496 {
  align-self: stretch;
  display: flex;
  height: 140px;
  position: relative;
  width: 100%;
}

.storchid-desktop .intro-copy {
  color: transparent;
  font-weight: 400;
  height: 140px;
  line-height: 28.0px;
  text-align: right;
  width: 1120px;
}

.storchid-desktop .hero-cta-button {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 96px 0px 0px;
  position: relative;
}

.storchid-desktop .desktop-button-hero {
  background-image: url(../img/rectangle-6-43@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 80px;
  width: 360px;
}

.storchid-desktop .cta {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.storchid-desktop .desktop-header-section-simple {
  height: 56px;
  position: relative;
  width: 1438px;
}

.storchid-desktop .line-1 {
  left: 0;
  position: absolute;
  top: 55px;
  width: 1438px;
}

.storchid-desktop .title {
  color: transparent;
  font-weight: 600;
  height: 32px;
  left: 0;
  line-height: 44.0px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 16px #ffffff40;
  top: -1px;
  white-space: nowrap;
  width: 1438px;
}

.storchid-desktop .buttons {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  padding: 120px 0px 0px;
  position: relative;
}

.storchid-desktop .desktop-button-standard {
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 48px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 24px 80px;
}

.storchid-desktop .desktopfooter {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  height: 476px;
  justify-content: center;
  padding: 40px 80px 120px;
  position: relative;
  width: 100%;
}

.storchid-desktop .logo {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.storchid-desktop .x2023-orchid-1 {
  letter-spacing: 0.28px;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.storchid-desktop .hyperlinks {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.storchid-desktop .frame-421 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 68px;
  position: relative;
  width: 180px;
}

.storchid-desktop .x2023-orchid {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 22.4px;
  width: 180px;
}

.storchid-desktop .apps {
  color: var(--white);
  font-weight: 700;
  height: 22px;
  line-height: 22.4px;
  width: 198px;
}

.storchid-desktop .twitter {
  background-image: url(../img/twitter-8@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 29.99px;
  position: relative;
  width: 30px;
}

.storchid-desktop .discord {
  background-image: url(../img/subtract@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 29.99px;
  position: relative;
  width: 30px;
}

.storchid-desktop .github {
  cursor: pointer;
  height: 29.25px;
  position: relative;
  width: 30px;
}

.storchid-desktop .facebook {
  background-image: url(../img/shape@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 29.95px;
  position: relative;
  width: 29.88px;
}

.storchid-desktop .reddit {
  background-image: url(../img/combined-shape-6@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 30px;
}

.storchid-desktop .line-2 {
  height: 1px;
  object-fit: cover;
}

.storchid-desktop .vpn-3 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
