/* screen - storchid-dt-all-breakpoints */

.storchid-dt-all-breakpoints {
  align-items: center;
  background-color: var(--licorice);
  display: flex;
  flex-direction: column;
  gap: 240px;
  min-width: 1440px;
  position: relative;
}

.storchid-dt-all-breakpoints .ellipses {
  height: 3407px;
  left: calc(50.00% - 984px);
  position: absolute;
  top: -90px;
  width: 1967px;
}

.storchid-dt-all-breakpoints .flex-row {
  align-items: center;
  display: flex;
  gap: 276px;
  height: 1903px;
  left: 0;
  min-width: 1967px;
  position: absolute;
  top: 1216px;
}

.storchid-dt-all-breakpoints .ellipse-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 770px;
  min-height: 1903px;
  width: 808px;
}

.storchid-dt-all-breakpoints .overlap-group1 {
  height: 775px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 936px;
}

.storchid-dt-all-breakpoints .ellipse-container-1 {
  height: 775px;
  left: 0;
  position: absolute;
  top: 0;
  width: 912px;
}

.storchid-dt-all-breakpoints .storage-splash-1 {
  height: 739px;
  margin-left: -4px;
  margin-top: -10px;
  width: 1573px;
}

.storchid-dt-all-breakpoints .desktop-home-logo {
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 36px;
  position: relative;
}

.storchid-dt-all-breakpoints .union {
  height: 36px;
  position: relative;
  width: 140px;
}

.storchid-dt-all-breakpoints .desktop-button-top-nav-1 {
  display: inline-flex;
  flex: 0 0 auto;
}

.storchid-dt-all-breakpoints .vpn {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.storchid-dt-all-breakpoints .desktop-button-top-nav-2 {
  cursor: pointer;
  display: flex;
  width: 37px;
}

.storchid-dt-all-breakpoints .desktop-button-top-nav-3 {
  cursor: pointer;
  display: flex;
  width: 36px;
}

.storchid-dt-all-breakpoints .desktop-button-top-nav-4 {
  cursor: pointer;
  display: flex;
  width: 44px;
}

.storchid-dt-all-breakpoints .desktop-button-top-nav-5 {
  cursor: pointer;
  display: flex;
  width: 61px;
}

.storchid-dt-all-breakpoints .desktop-button-top-nav-6 {
  cursor: pointer;
  display: flex;
  width: 50px;
}

.storchid-dt-all-breakpoints .desktop-button-header {
  background-image: url(../img/button-base-1@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  width: 196px;
}

.storchid-dt-all-breakpoints .hero {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 72px;
  max-width: 1800px;
  padding: 200px 160px 0px;
  position: relative;
  width: 1440px;
}

.storchid-dt-all-breakpoints .frame-403 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 855px;
}

.storchid-dt-all-breakpoints .decentralized-marketplace {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 54.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.storchid-dt-all-breakpoints .span {
  color: var(--aquamarine);
}

.storchid-dt-all-breakpoints .span-1 {
  color: var(--white);
}

.storchid-dt-all-breakpoints .line-10 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.storchid-dt-all-breakpoints .desktop-header-section-full {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.storchid-dt-all-breakpoints .desktop-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.storchid-dt-all-breakpoints .line {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.storchid-dt-all-breakpoints .desktop-headline-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.storchid-dt-all-breakpoints .two-color-headline {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
}

.storchid-dt-all-breakpoints .copy {
  align-self: stretch;
  display: flex;
  height: 651px;
  position: relative;
  width: 100%;
}

.storchid-dt-all-breakpoints .text {
  color: transparent;
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 651px;
  line-height: 28px;
  width: 1120px;
}

.storchid-dt-all-breakpoints .span-2 {
  color: var(--aquamarine);
  font-weight: 500;
  line-height: 34.7px;
}

.storchid-dt-all-breakpoints .span-3 {
  color: var(--white);
  line-height: 28.0px;
}

.storchid-dt-all-breakpoints .span6 {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
}

.storchid-dt-all-breakpoints .two-color-headline-1 {
  color: transparent;
  text-align: right;
}

.storchid-dt-all-breakpoints .intro-copy {
  color: transparent;
  font-weight: 400;
  height: 140px;
  line-height: 28.0px;
  text-align: right;
  width: 1120px;
}

.storchid-dt-all-breakpoints .hero-cta-button {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 96px 0px 0px;
  position: relative;
}

.storchid-dt-all-breakpoints .desktop-button-hero {
  background-image: url(../img/rectangle-6-43@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 80px;
  width: 360px;
}

.storchid-dt-all-breakpoints .desktop-header-section-full-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 1438px;
}

.storchid-dt-all-breakpoints .two-color-headline-2 {
  color: var(--aquamarine);
  text-align: center;
}

.storchid-dt-all-breakpoints .buttons {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  padding: 120px 0px 0px;
  position: relative;
}

.storchid-dt-all-breakpoints .desktop-button-standard {
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 48px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 24px 80px;
}

.storchid-dt-all-breakpoints .logo {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.storchid-dt-all-breakpoints .hyperlinks {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  position: relative;
  width: 100%;
}

.storchid-dt-all-breakpoints .frame-42 {
  height: 114px;
  position: relative;
  width: 180px;
}

.storchid-dt-all-breakpoints .github {
  cursor: pointer;
  height: 29.25px;
  position: relative;
  width: 30px;
}

.storchid-dt-all-breakpoints .facebook {
  background-image: url(../img/shape@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 29.95px;
  position: relative;
  width: 29.88px;
}

.storchid-dt-all-breakpoints .desktop-button-top-nav-7 {
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.storchid-dt-all-breakpoints .two-color-headline-3 {
  flex: 1;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
}

.storchid-dt-all-breakpoints .vpn-3 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
/* screen - storchid-mobsm */

.storchid-mobsm {
  background-color: var(--licorice);
  gap: 120px;
  min-width: 360px;
}

.storchid-mobsm .ellipses-2 {
  height: 5826px;
  left: -468px;
  position: absolute;
  top: -60px;
  width: 1197px;
}

.storchid-mobsm .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 162px;
  min-height: 3406px;
  position: relative;
  width: 1034px;
}

.storchid-mobsm .overlap-group1-2 {
  height: 398px;
  margin-left: 124.0px;
  position: relative;
  width: 480px;
}

.storchid-mobsm .ellipse-container-3 {
  height: 398px;
  left: 0;
  position: absolute;
  top: 0;
  width: 468px;
}

.storchid-mobsm .ellipse-28-2 {
  background-color: var(--cod-gray);
  border-radius: 159px;
  height: 318px;
  left: 0;
  position: absolute;
  top: 0;
  width: 318px;
}

.storchid-mobsm .ellipse-29-2 {
  background-color: var(--cod-gray);
  border-radius: 79.5px;
  height: 159px;
  left: 309px;
  position: absolute;
  top: 239px;
  width: 159px;
}

.storchid-mobsm .ellipse-30-2 {
  background-color: var(--cod-gray);
  border-radius: 51.5px;
  height: 103px;
  left: 377px;
  position: absolute;
  top: 9px;
  width: 103px;
}

.storchid-mobsm .ellipse-34-2 {
  align-self: flex-end;
  background-color: var(--black-2);
  border-radius: 189.5px;
  height: 379px;
  margin-right: 114.3px;
  margin-top: 127px;
  width: 379px;
}

.storchid-mobsm .ellipse-37-2 {
  background-color: var(--black-2);
  border-radius: 294.5px;
  height: 589px;
  margin-top: 161px;
  transform: rotate(180.00deg);
  width: 589px;
}

.storchid-mobsm .ellipse-33-2 {
  align-self: center;
  background-color: var(--black-2);
  border-radius: 110.5px;
  height: 221px;
  margin-left: 106.7px;
  margin-top: 138px;
  transform: rotate(180.00deg);
  width: 221px;
}

.storchid-mobsm .ellipse-35 {
  align-self: flex-end;
  background-color: var(--black-2);
  border-radius: 422.65px;
  height: 845px;
  margin-top: 548px;
  transform: rotate(90.00deg);
  width: 845px;
}

.storchid-mobsm .orchid-grid-hero {
  height: 266px;
  left: 232px;
  position: absolute;
  top: 140px;
  width: 275px;
}

.storchid-mobsm .hero-image-2 {
  background-image: url(../img/storage-splash-1.png);
  background-size: 100% 100%;
  height: 209px;
  left: calc(50.00% - 227px);
  position: absolute;
  top: -1px;
  width: 444px;
}

.storchid-mobsm .mobile-header-1 {
  align-self: stretch;
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.storchid-mobsm .union-3 {
  height: 24px;
  position: relative;
  width: 26.47px;
}

.storchid-mobsm .frame-403-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  position: relative;
  width: 357px;
}

.storchid-mobsm .decentralized-marketplace-2 {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 23.1px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.storchid-mobsm .line-10-2 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.storchid-mobsm .storchid-is-a-new-op-2 {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 19.8px;
  position: relative;
  text-align: center;
}

.storchid-mobsm .marketplaces {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 24px;
  padding: 0px 24px;
  width: 100%;
}

.storchid-mobsm .mobile-3 {
  align-items: center;
}

.storchid-mobsm .line-2 {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.storchid-mobsm .mobile-headline-section-3 {
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-around;
  width: 100%;
}

.storchid-mobsm .the-orchid-ecosystem-3 {
  color: transparent;
}

.storchid-mobsm .copy-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.storchid-mobsm .title-1 {
  align-self: stretch;
  color: var(--aquamarine);
  font-weight: 600;
  height: 18px;
  line-height: 19.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.storchid-mobsm .body-3 {
  margin-top: -1.00px;
}

.storchid-mobsm .developers {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 24px;
  padding: 0px 40px;
  width: 100%;
}

.storchid-mobsm .mobile-4 {
  align-items: flex-end;
}

.storchid-mobsm .mobile-caption-section-4 {
  justify-content: flex-end;
}

.storchid-mobsm .mobile-headline-section-4 {
  align-items: center;
  justify-content: flex-end;
  margin-left: -32.00px;
  padding: 0px 0px 24px;
  width: 312px;
}

.storchid-mobsm .the-orchid-ecosystem-4 {
  color: transparent;
  text-align: right;
}

.storchid-mobsm .intro-copy-2 {
  align-self: stretch;
  color: transparent;
  font-weight: 300;
  line-height: 16.5px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.storchid-mobsm .frame-476-2 {
  gap: 10px;
}

.storchid-mobsm .mobile-5 {
  align-items: center;
}

.storchid-mobsm .mobile-caption-section-5 {
  justify-content: center;
}

.storchid-mobsm .discover-5 {
  text-align: center;
}

.storchid-mobsm .mobile-headline-section-5 {
  align-items: center;
  justify-content: center;
  margin-left: -16.00px;
  margin-right: -16.00px;
  padding: 0px 0px 24px;
  width: 312px;
}

.storchid-mobsm .the-orchid-ecosystem-5 {
  color: var(--aquamarine);
  text-align: center;
}

.storchid-mobsm .frame-476-3 {
  gap: 40px;
}

.storchid-mobsm .logo-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  margin-right: -19.00px;
  position: relative;
}

.storchid-mobsm .desktop-home-logo-3 {
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;
  gap: 10px;
  height: 36px;
  position: relative;
}

.storchid-mobsm .union-4 {
  height: 36px;
  position: relative;
  width: 140px;
}

.storchid-mobsm .hyperlinks-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  margin-right: -80.00px;
  position: relative;
  width: 360px;
}

.storchid-mobsm .github-2 {
  cursor: pointer;
  height: 29.25px;
  position: relative;
  width: 30px;
}

.storchid {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.storchid-mobsm .body {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 16.5px;
  position: relative;
}

.storchid-mobsm .discover {
  letter-spacing: 1.92px;
  line-height: 13.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.storchid-mobsm .frame-476 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: -16.00px;
  margin-right: -16.00px;
  padding: 60px 0px 0px;
  position: relative;
}

.storchid-mobsm .mobile {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.storchid-mobsm .mobile-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  position: relative;
  width: 100%;
}

.storchid-mobsm .mobile-headline-section {
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.storchid-mobsm .the-orchid-ecosystem {
  flex: 1;
  font-weight: 600;
  line-height: 18.7px;
  margin-top: -1.00px;
  position: relative;
}
/* screen - storchid-tabsm */

.storchid-tabsm {
  align-items: center;
  background-color: var(--licorice);
  display: flex;
  flex-direction: column;
  gap: 160px;
  min-width: 744px;
  position: relative;
}

.storchid-tabsm .frame-506 {
  display: flex;
  height: 5448px;
  justify-content: center;
  left: calc(50.00% - 784px);
  position: absolute;
  top: -74px;
  width: 1574px;
}

.storchid-tabsm .ellipses-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 5448px;
  padding: 0 0.5px;
  width: 1574px;
}

.storchid-tabsm .overlap-group1-1 {
  height: 605px;
  margin-right: 386.0px;
  position: relative;
  width: 731px;
}

.storchid-tabsm .ellipse-container-2 {
  height: 605px;
  left: 0;
  position: absolute;
  top: 0;
  width: 712px;
}

.storchid-tabsm .ellipse-28-1 {
  background-color: var(--cod-gray);
  border-radius: 242px;
  height: 484px;
  left: 0;
  position: absolute;
  top: 0;
  width: 484px;
}

.storchid-tabsm .ellipse-29-1 {
  background-color: var(--cod-gray);
  border-radius: 121px/120.5px;
  height: 241px;
  left: 470px;
  position: absolute;
  top: 364px;
  width: 242px;
}

.storchid-tabsm .ellipse-30-1 {
  background-color: var(--cod-gray);
  border-radius: 78.5px/78px;
  height: 156px;
  left: 574px;
  position: absolute;
  top: 14px;
  width: 157px;
}

.storchid-tabsm .ellipse-34-1 {
  align-self: flex-end;
  background-color: var(--black-2);
  border-radius: 288px/288.5px;
  height: 577px;
  margin-right: 174.0px;
  margin-top: 113px;
  width: 576px;
}

.storchid-tabsm .ellipse-37-1 {
  align-self: flex-start;
  background-color: var(--black-2);
  border-radius: 448px;
  height: 896px;
  margin-top: 245px;
  transform: rotate(180.00deg);
  width: 896px;
}

.storchid-tabsm .ellipse-33-1 {
  background-color: var(--black-2);
  border-radius: 168px;
  height: 336px;
  margin-left: 163.0px;
  margin-top: 210px;
  transform: rotate(180.00deg);
  width: 336px;
}

.storchid-tabsm .hero-image-1 {
  background-image: url(../img/storage-splash-1.png);
  background-size: 100% 100%;
  height: 389px;
  left: -6.45%;
  position: absolute;
  top: 0;
  width: 111.29%;
}

.storchid-tabsm .mobile-header {
  height: 88px;
  justify-content: space-between;
}

.storchid-tabsm .union-1 {
  height: 24px;
  position: relative;
  width: 26.47px;
}

.storchid-tabsm .frame-403-1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 80px 40px;
  position: relative;
  width: 744px;
}

.storchid-tabsm .decentralized-marketplace-1 {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 32.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.storchid-tabsm .span-4 {
  color: var(--aquamarine);
}

.storchid-tabsm .span-5 {
  color: var(--white);
}

.storchid-tabsm .line-10-1 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.storchid-tabsm .storchid-is-a-new-op-1 {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 18.7px;
  position: relative;
  text-align: center;
}

.storchid-tabsm .storchid-tabsm-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 40px;
  position: relative;
  width: 100%;
}

.storchid-tabsm .mobile {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.storchid-tabsm .mobile-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  position: relative;
  width: 100%;
}

.storchid-tabsm .discover {
  letter-spacing: 1.92px;
  line-height: 13.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.storchid-tabsm .line-1 {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.storchid-tabsm .mobile-headline-section {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.storchid-tabsm .the-orchid-ecosystem {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 18.7px;
  margin-top: -1.00px;
  position: relative;
}

.storchid-tabsm .copy-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.storchid-tabsm .accounts {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.storchid-tabsm .title {
  align-self: stretch;
  color: var(--aquamarine);
  font-weight: 600;
  height: 18px;
  line-height: 19.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.storchid-tabsm .body {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 16.5px;
  position: relative;
}

.storchid-tabsm .body-1 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 16.5px;
  margin-top: -1.00px;
  position: relative;
}

.storchid-tabsm .mobile-1 {
  align-items: flex-end;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
}

.storchid-tabsm .mobile-caption-section-1 {
  justify-content: flex-end;
}

.storchid-tabsm .mobile-headline-section-1 {
  justify-content: flex-end;
}

.storchid-tabsm .the-orchid-ecosystem-1 {
  color: transparent;
  text-align: right;
}

.storchid-tabsm .intro-copy-1 {
  align-self: stretch;
  color: transparent;
  font-weight: 300;
  line-height: 16.5px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.storchid-tabsm .frame-476 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 60px 0px 0px;
  position: relative;
}

.storchid-tabsm .mobile-2 {
  align-items: center;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
}

.storchid-tabsm .mobile-caption-section-2 {
  justify-content: center;
}

.storchid-tabsm .discover-2 {
  text-align: center;
}

.storchid-tabsm .mobile-headline-section-2 {
  justify-content: center;
}

.storchid-tabsm .the-orchid-ecosystem-2 {
  color: var(--aquamarine);
  text-align: center;
}

.storchid-tabsm .frame-476-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 60px 0px 0px;
  position: relative;
}

.storchid-tabsm .union-2 {
  height: 36px;
  position: relative;
  width: 140px;
}

.storchid-tabsm .discover-3 {
  letter-spacing: 1.92px;
  line-height: 13.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.storchid-tabsm .mobile-3 {
  align-self: stretch;
  display: flex;
  position: relative;
  width: 100%;
}

.storchid-tabsm .mobile-caption-section-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  position: relative;
  width: 100%;
}

.storchid-tabsm .mobile-headline-section-3 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 0px 24px;
  position: relative;
  width: 312px;
}

.storchid-tabsm .nanopay-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.storchid-tabsm .the-orchid-ecosystem-3 {
  flex: 1;
  font-weight: 600;
  line-height: 18.7px;
  margin-top: -1.00px;
  position: relative;
}
@media screen and (max-width: 743px) {
  .screen.storchid-dt-all-breakpoints { 
    display: none;
   }
  .screen.storchid-tabsm { 
    display: none;
   }
}
@media screen and (min-width: 744px) and (max-width: 1439px) {
  .screen.storchid-dt-all-breakpoints { 
    display: none;
   }
  .screen.storchid-mobsm { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.storchid-tabsm { 
    display: none;
   }
  .screen.storchid-mobsm { 
    display: none;
   }
}