:root { 
  --aquamarine: #68f5da;
  --black: #000000;
  --black-2: #040404;
  --cod-gray: #090909;
  --dull-lavender: #ae9aff;
  --licorice: #121212;
  --log-cabin: #212121;
  --manatee: #9c96ac;
  --mountain-mist: #979797;
  --pixie-powder: #441a86;
  --white: #ffffff;
 
  --font-size-l: 21px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 60px;
 
  --font-family-figtree: "Figtree", Helvetica;
}
.button {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
}

.button-small {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.body {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.subhead {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 1.2px;
}

.title {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.64px;
}

.subtitle {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.96px;
}

.super-body {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.figtree-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.figtree-semi-bold-dull-lavender-21px {
  color: var(--dull-lavender);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}
