/* screen - vpn-desktop */

.vpn-desktop {
  align-items: center;
  background-color: var(--licorice);
  display: flex;
  flex-direction: column;
  gap: 240px;
  position: relative;
  width: 1440px;
}

.vpn-desktop .ellipses {
  height: 7846px;
  left: -264px;
  position: absolute;
  top: 0;
  width: 1967px;
}

.vpn-desktop .desktop-home-logo {
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 36px;
  position: relative;
}

.vpn-desktop .union {
  height: 36px;
  position: relative;
  width: 140px;
}

.vpn-desktop .vpn {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.vpn-desktop .vpn-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.vpn-desktop .desktop-button-header {
  background-image: url(../img/button-base-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  width: 196px;
}

.vpn-desktop .hero {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  padding: 0px 80px;
  position: relative;
  width: 100%;
}

.vpn-desktop .frame-481 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 37px;
  position: relative;
}

.vpn-desktop .composition_-generic_2-1 {
  height: 354px;
  object-fit: cover;
  position: relative;
  width: 459px;
}

.vpn-desktop .frame-403 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 481px;
}

.vpn-desktop .unblock-your-internet {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 54.0px;
  margin-top: -1.00px;
  position: relative;
}

.vpn-desktop .span {
  color: var(--aquamarine);
}

.vpn-desktop .span-1 {
  color: var(--white);
}

.vpn-desktop .with-orchids-decent {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  position: relative;
}

.vpn-desktop .hero-cta-button {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 96px 0px 0px;
  position: relative;
}

.vpn-desktop .marketplace {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
  width: 100%;
}

.vpn-desktop .frame-485 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 142px;
  margin-left: 80px;
  margin-top: -1126px;
  position: relative;
  width: 1280px;
}

.vpn-desktop .desktop-header-section-full {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
}

.vpn-desktop .desktop-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.vpn-desktop .line {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.vpn-desktop .desktop-headline-section {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.vpn-desktop .two-color-headline {
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  width: 1280px;
}

.vpn-desktop .frame-355 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 12px 12px;
  position: relative;
  width: 1180px;
}

.vpn-desktop .intro-copy-7 {
  color: var(--white);
  flex: 1;
  font-weight: 400;
  line-height: 28.0px;
  margin-top: -1.00px;
  position: relative;
}

.vpn-desktop .marketplace-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 80px;
  min-width: 1280px;
}

.vpn-desktop .group-325 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 528px;
  width: 1280px;
}

.vpn-desktop .accounts {
  align-items: flex-start;
  display: flex;
  margin-left: 4px;
  min-width: 1284px;
}

.vpn-desktop .overlap-group {
  height: 160px;
  position: relative;
  width: 1280px;
}

.vpn-desktop .rectangle-32 {
  background-color: var(--black-2);
  border: 1px solid;
  border-color: var(--true-v);
  border-radius: 20px;
  height: 160px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 1220px;
}

.vpn-desktop .line-8 {
  height: 86px;
  left: 597px;
  position: absolute;
  top: 37px;
  width: 6px;
}

.vpn-desktop .intro-copy {
  color: var(--white);
  font-weight: 500;
  left: 160px;
  line-height: 34.7px;
  position: absolute;
  top: 60px;
  white-space: nowrap;
  width: 400px;
}

.vpn-desktop .intro-copy-1 {
  color: var(--white);
  font-weight: 400;
  height: 112px;
  left: 640px;
  line-height: 28.0px;
  position: absolute;
  top: 24px;
  width: 600px;
}

.vpn-desktop .frame-482 {
  align-items: center;
  display: flex;
  height: 120px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 120px;
}

.vpn-desktop .group-324 {
  align-items: flex-start;
  display: flex;
  height: 120px;
  justify-content: center;
  min-width: 120px;
}

.vpn-desktop .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--true-v);
  border-radius: 61px;
  display: flex;
  height: 122px;
  margin-top: -1px;
  min-width: 122px;
  padding: 30px;
}

.vpn-desktop .frame-48 {
  display: flex;
  height: 120px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 120px;
}

.vpn-desktop .ecosystem {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 24px 24px;
  justify-content: center;
  padding: 0px 80px;
  position: relative;
  width: 100%;
}

.vpn-desktop .desktop-header-section-full-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.vpn-desktop .desktop-headline-section-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.vpn-desktop .two-color-headline-1 {
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1280px;
}

.vpn-desktop .frame-444 {
  height: 1288px;
  position: relative;
  width: 1280px;
}

.vpn-desktop .flex-row {
  align-items: flex-start;
  display: flex;
  height: 1288px;
  min-width: 1284px;
}

.vpn-desktop .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 1288px;
  width: 415px;
}

.vpn-desktop .overlap-group-2 {
  align-items: center;
  background-color: var(--log-cabin);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 632px;
  padding: 40px 38px;
  width: 411px;
}

.vpn-desktop .intro-copy-2 {
  color: var(--white);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: 56px;
  min-height: 88px;
  text-align: center;
  width: 331px;
}

.vpn-desktop .intro-copy-3 {
  color: var(--white);
  font-weight: 400;
  line-height: 28.0px;
  margin-top: 24px;
  min-height: 152px;
  width: 331px;
}

.vpn-desktop .group-317 {
  align-self: flex-end;
  display: flex;
  gap: 15px;
  margin-top: 40px;
  width: 180px;
}

.vpn-desktop .intro-copy-4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--dull-lavender);
  display: -webkit-box;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  width: 146px;
}

.vpn-desktop .arrow-10 {
  height: 14.73px;
  margin-top: 4.6px;
  width: 18px;
}

.vpn-desktop .arrow-10-1 {
  height: 14.73px;
  margin-top: 4.6px;
  width: 18px;
}

.vpn-desktop .overlap-group-container-1 {
  gap: 24px;
  margin-left: 19px;
  min-height: 1288px;
  width: 415px;
}

.vpn-desktop .intro-copy-8 {
  color: var(--white);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: 53px;
  min-height: 88px;
  text-align: center;
  width: 331px;
}

.vpn-desktop .intro-copy-9 {
  color: var(--white);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: 40px;
  min-height: 88px;
  text-align: center;
  width: 331px;
}

.vpn-desktop .overlap-group-container-2 {
  gap: 24px;
  margin-left: 20px;
  min-height: 1288px;
  width: 415px;
}

.vpn-desktop .overlap-group2 {
  align-items: center;
  background-color: var(--log-cabin);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 632px;
  padding: 40px 34px;
  width: 411px;
}

.vpn-desktop .intro-copy-10 {
  align-self: flex-start;
  color: var(--white);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: 56px;
  min-height: 88px;
  text-align: center;
  width: 331px;
}

.vpn-desktop .intro-copy-11 {
  color: var(--white);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: 32px;
  min-height: 88px;
  text-align: center;
  width: 331px;
}

.vpn-desktop .why-orchid {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 80px;
  position: relative;
  width: 100%;
}

.vpn-desktop .desktop-header-section-simple {
  height: 56px;
}

.vpn-desktop .line-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 56px;
  width: 1280px;
}

.vpn-desktop .title {
  color: transparent;
  font-weight: 600;
  height: 32px;
  left: 0;
  line-height: 44.0px;
  position: absolute;
  text-shadow: 0px 4px 16px #ffffff40;
  top: -1px;
  white-space: nowrap;
  width: 1280px;
}

.vpn-desktop .expanded-cards {
  height: 2264px;
  position: relative;
  width: 1196px;
}

.vpn-desktop .overlap-group-container-3 {
  gap: 36px;
  justify-content: center;
  min-height: 2264px;
  width: 1202px;
}

.vpn-desktop .overlap-group6 {
  align-items: center;
  background-color: var(--cod-gray);
  border: 2px solid;
  border-color: var(--true-v);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: -1.94px;
  min-height: 348px;
  padding: 2px 0;
  width: 1200px;
}

.vpn-desktop .overlap-group-5 {
  align-items: center;
  background-color: var(--log-cabin);
  border-radius: 20px;
  display: flex;
  gap: 159px;
  height: 88px;
  justify-content: flex-end;
  min-width: 1196px;
  padding: 0 49.5px;
}

.vpn-desktop .intro-copy-12 {
  color: var(--aquamarine);
  font-weight: 600;
  line-height: 22.0px;
  min-height: 40px;
  width: 852px;
}

.vpn-desktop .menu-icon {
  height: 40px;
  width: 45px;
}

.vpn-desktop .intro-copy-13 {
  color: var(--white);
  font-weight: 400;
  line-height: 28.0px;
  margin-right: 11.88px;
  margin-top: 30px;
  min-height: 112px;
  width: 952px;
}

.vpn-desktop .intro-copy-14 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--dull-lavender);
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  margin-right: 11.88px;
  margin-top: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 952px;
}

.vpn-desktop .overlap-group-3 {
  align-items: center;
  background-color: var(--cod-gray);
  border: 2px solid;
  border-color: var(--true-v);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-left: -2px;
  min-height: 348px;
  padding: 2px 0;
  width: 1200px;
}

.vpn-desktop .overlap-group-4 {
  align-items: flex-end;
  background-color: var(--log-cabin);
  border-radius: 20px;
  display: flex;
  height: 88px;
  min-width: 1196px;
  padding: 24px 90.0px;
}

.vpn-desktop .intro-copy-5 {
  color: var(--aquamarine);
  font-weight: 600;
  line-height: 22.0px;
  min-height: 28px;
  width: 852px;
}

.vpn-desktop .intro-copy-6 {
  color: var(--white);
  font-weight: 400;
  line-height: 28.0px;
  margin-right: 26.5px;
  min-height: 56px;
  width: 939px;
}

.vpn-desktop .intro-copy-15 {
  color: var(--white);
  font-weight: 400;
  line-height: 28.0px;
  margin-right: 26.5px;
  min-height: 112px;
  width: 939px;
}

.vpn-desktop .overlap-group4 {
  align-items: center;
  background-color: var(--cod-gray);
  border: 2px solid;
  border-color: var(--true-v);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  min-height: 348px;
  padding: 2px 0;
  width: 1200px;
}

.vpn-desktop .intro-copy-16 {
  color: var(--white);
  font-weight: 400;
  line-height: 28.0px;
  margin-right: 26.5px;
  margin-top: 46px;
  min-height: 56px;
  width: 939px;
}

.vpn-desktop .intro-copy-17 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--dull-lavender);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  margin-right: 11.88px;
  margin-top: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 952px;
}

.vpn-desktop .overlap-group5 {
  align-items: flex-start;
  background-color: var(--cod-gray);
  border: 2px solid;
  border-color: var(--true-v);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  min-height: 348px;
  padding: 2px 0;
  width: 1200px;
}

.vpn-desktop .overlap-group-6 {
  align-items: flex-end;
  background-color: var(--log-cabin);
  border-radius: 20px;
  display: flex;
  height: 88px;
  margin-left: 2px;
  min-width: 1196px;
  padding: 24px 90.0px;
}

.vpn-desktop .intro-copy-18 {
  align-self: center;
  color: var(--white);
  font-weight: 400;
  line-height: 28.0px;
  margin-right: 26.5px;
  margin-top: 46px;
  min-height: 56px;
  width: 939px;
}

.vpn-desktop .intro-copy-19 {
  cursor: pointer;
  height: 22px;
  margin-left: 115.66px;
  margin-top: 85px;
  width: 369px;
}

.vpn-desktop .button {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 120px 0px 0px;
  position: relative;
}

.vpn-desktop .desktopfooter {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  height: 476px;
  justify-content: center;
  padding: 40px 80px 120px;
  position: relative;
  width: 100%;
}

.vpn-desktop .logo {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.vpn-desktop .x2023-orchid-1 {
  letter-spacing: 0.28px;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.vpn-desktop .frame-421 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 68px;
  position: relative;
  width: 180px;
}

.vpn-desktop .x2023-orchid {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 22.4px;
  width: 180px;
}

.vpn-desktop .apps-1 {
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
  height: 22px;
  line-height: 22.4px;
  width: 198px;
}

.vpn-desktop .apps {
  color: var(--white);
  font-weight: 700;
  height: 22px;
  line-height: 22.4px;
  width: 198px;
}

.vpn-desktop .twitter {
  background-image: url(../img/twitter-8@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 29.99px;
  position: relative;
  width: 30px;
}

.vpn-desktop .discord {
  background-image: url(../img/subtract@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 29.99px;
  position: relative;
  width: 30px;
}

.vpn-desktop .github {
  cursor: pointer;
  height: 29.25px;
  position: relative;
  width: 30px;
}

.vpn-desktop .facebook {
  background-image: url(../img/shape@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 29.95px;
  position: relative;
  width: 29.87px;
}

.vpn-desktop .reddit {
  background-image: url(../img/combined-shape-6@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 30px;
}

.vpn-desktop .desktop-header-section {
  position: relative;
  width: 1280px;
}

.vpn-desktop .overlap-group-container-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
